<input type="hidden" id="maxFeedback" value="{{maxSize}}"/>
<input type="hidden" id="currentOffset" value="{{offset}}"/>
{% for item in feedbacks %}
	<div class="comment">
		<div class="avatar">
			<img src="{{ item.meta_value }}" />
		</div>
		<div>
			<a class="user-name" href="#">{{item.display_name}}</a>
		</div>
		<div>
			{%set rate1 = item.feedback_rate%2 %}
			{%set rate2 = (item.feedback_rate - rate1)/2%}
			<span class="star">
				{%if rate2 != 0%}
					{%for i in 1..rate2%}
						<span class="fa fa-star"></span>
					{%endfor%}
				{%endif%}
				{%if rate1 == 1%}
					<span class="fa fa-star-half-o"></span>
				{%endif%}
			</span>
		</div>
		<p>{{item.feedback_content}}</p>
		<span class="class-time">Class time: {{item.schedule_date|date('Y-m-d H:i') }} </span>
		<span class="unit-info">{{item.unit_name}} - {{item.lession_name}}</span>
	</div>
{% endfor %}