{% set lang = Schola.language('teacher') %}

{% extends "@Schola/public/layout/master.twig" %}

{% block title %}{{ lang.teacher_dashboard }}{% endblock %}
{% block content %}
    <div>
        {% include "@Schola/public/partial/navigation.twig" %}
    </div>
    <div class="container-fluid">
        <div class="content-width">
            <div class="panel-content">
                <div class="row teacher-dashboard">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        {% include "@Schola/public/teacherDashboard/leftPanel.twig" %}
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="feedback-board">
                            <div class="average-point">
                                {{ lang.last_day_average }} <span class="point">4.5</span>
                                <span class="star">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-half-o"></span>
                                </span>
                            </div>
                            <div class="comments">
                                <h3>{{ lang.comments }}</h3>
                                <div class="filter-comment">
                                    <div class="radio radio-orange radio-inline">
                                        <input type="radio" name="filterComment" id="filterComment1" value="0" checked="checked">
                                        <label for="filterComment1">{{ lang.all_comment }}</label>
                                    </div>
                                    <div class="radio radio-orange radio-inline">
                                        <input type="radio" name="filterComment" id="filterComment2" value="1">
                                        <label for="filterComment2">{{ lang.excellence }}</label>
                                    </div>
                                    <div class="radio radio-orange radio-inline">
                                        <input type="radio" name="filterComment" id="filterComment3" value="2">
                                        <label for="filterComment3">{{ lang.average }}</label>
                                    </div>
                                    <div class="radio radio-orange radio-inline">
                                        <input type="radio" name="filterComment" id="filterComment4" value="3">
                                        <label for="filterComment4">{{ lang.dissatisfactory }}</label>
                                    </div>
                                </div>
                                {% for i in 0..10 %}
                                <div class="comment">
                                    <div class="avatar">
                                        <img src="{{ Schola.helper('assetUrl', '/public/images/hiw2.jpg') }}" />
                                    </div>
                                    <div>
                                        <a class="user-name" href="#">{{ lang.shushi }}</a>
                                    </div>
                                    <div>
                                        <span class="star">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-half-o"></span>
                                        </span>
                                    </div>
                                    <p>{{ lang.thank_you_inanna }}</p>
                                    <span class="class-time">{{ lang.class_time }} </span>
                                    <span class="unit-info">{{ lang.unit_one }} </span>
                                </div>
                                {% endfor %}

                                <div class="comment">
                                    <div class="avatar">
                                        <img src="{{ Schola.helper('assetUrl', '/public/images/hiw2.jpg') }}" />
                                    </div>
                                    <div>
                                        <a class="user-name" href="#">{{ lang.shushi }}</a>
                                    </div>
                                    <div>
                                        <span class="star">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-half-o"></span>
                                        </span>
                                    </div>
                                    <p>{{ lang.thank_you_inanna }}</p>
                                    <span class="class-time">{{ lang.class_time }} </span>
                                    <span class="unit-info">{{ lang.unit_one }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}