{% set lang = Schola.language('teacher') %}

<div class="schedule-tooltip-detail">
	
	<div>
		<strong>{{ lang.student }}</strong> {{ detail.profile_name }}
    </div>
    <div>
        {%if detail.lession_sn is not empty and detail.lession_sn !="" %}
        	<strong>{{ lang.lesson_sn }}</strong> {{ detail.lession_sn }}
        {%elseif detail.class_type is not empty and detail.class_type =="1" %}
        	<strong>{{ lang.lesson_sn }}</strong> GroupClass
        {%else%}
        	<strong>{{ lang.lesson_sn }}</strong> L{{detail.lesson_level}}U{{detail.lesson_unit}}LS{{detail.lesson_lesson}}
        {%endif%}
    </div>
    <div>
        
        {%if detail.lession_name is not empty and detail.lession_name !="" %}
        	<strong>{{ lang.lesson_name }}</strong> {{ detail.lession_name }}
        {%elseif detail.lesson_title is not empty and detail.lesson_title !="" %}
        	<strong>{{ lang.lesson_name }}</strong> {{ detail.lesson_title }}
        {%else%}
        	<strong>{{ lang.lesson_name }}</strong> {{ detail.group_lesson_name }}
        {%endif%}
    </div> 
	<div class="text-danger">
		{%if detail.schedule_status == 1%}
			{{ lang.this_class_canceled }}
		{%endif%}
	</div>
	<div class="mt15 mb5">
		{%if false%}
			<button type="button" onclick="{%if displayBtn%}schedule.gotoClassroom(this);{%else%}return false;{%endif%}" data-schedule-id="{{detail.schedule_id}}" class="btn btn-primary {%if not displayBtn%}disabled{%endif%}">{{ lang.go_to_classroom }}</button>
		{%endif%}
		<button type="button" onclick="schedule.classDetail(this);" data-schedule-id="{{detail.schedule_id}}" class="btn btn-primary">{{ lang.class_detail }}</button>
	</div>
	<div>
		
		<button title="{%if not displayBtn%}Cannot cancel this class{%endif%}" onclick="{%if displayBtn%}schedule.cancelClassRoom(this);{%else%}return false;{%endif%}" data-time="{{timekey}}" data-timestamp="{{timestamp}}" data-userid="{{detail.user_id}}" type="button" class="btn btn-default {%if not displayBtn%}disabled{%endif%}">{{ lang.cancel_class }}</button>
	</div>
</div>
