{% set lang = Schola.language('user') %}

{% extends "@Schola/public/layout/master.single.twig" %}

{% block title %}{{ lang.forgot_password }}{% endblock %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnResetPassword").click(function () {
                var btnResetPassword = this;
                $.ajax({
                    type: "POST",
                    url: '{{ route_url('Schola::checkUserForgotPassword') }}',
                    data: $("#frmForgotPass").serializeArray(),
                    beforeSend: function () {
                        $(btnResetPassword).attr('disabled', 'disabled');
                        $('.show-error').removeClass('show-error');
                    },
                    success: function (value) {
                        var res = JSON.parse(value);
                        if (res.status === 'success') {
                            $('#dialogResetSuccess').removeClass('hidden');
                            $('#username').val('');
                        } else {
                            $.each(res.errors, function (index, item) {
                                $('.' + item.key + '-control .error').html(item.value);
                                $('.' + item.key + '-control').addClass('show-error');
                            });
                        }
                    },
                    complete: function () {
                        $(btnResetPassword).removeAttr('disabled');
                    }
                });
            });
            $('#frmForgotPass').keypress(function (e) {
                if (e.which === 13) {
                    $('#btnResetPassword').click();
                    return false;
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="forgot-password-page">
        <div class="overlay">
            <div class="forgot-password-form align-middle">
                <div class="logo">
                    <a href="{{ route_url('Schola::home') }}"><img src="{{ Schola.helper('assetUrl', '/public/images/schola.png') }}"/></a>
                </div>
                <form id="frmForgotPass">
                    <div class="control username-control">
                        <span class="icon fa fa-envelope"></span>
                        <input type="text" placeholder="{{ lang.username_or_email }}" id="username" name="username"/>
                        <div class="error"></div>
                    </div>
                    <button type="button" id="btnResetPassword" class="button button--isi button--text-thick button--text-upper button--size-s">
                        <i class="icon-spin fa fa-spinner fa-spin"></i> {{ lang.reset_password }}
                    </button>
                    <div class="text-center mt10">
                        {{ lang.have_password }} <a href="{{ route_url('Schola::login') }}?teacher=1" class="link">{{ lang.login }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dialogResetSuccess" class="alert-success hidden">
        <div class="alert">
            <div class="alert-content">
                <span class="icon fa fa-check-circle"></span>
                <div class="title">{{ lang.send_email }}</div>
                <div class="message">
                    {{ lang.you_will_receive_email }}
                </div>
                <div class="message mt10">
                    {{ lang.go_to_login }} <a href="{{ route_url('Schola::login') }}?teacher=1" class="link">{{ lang.login }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}