{% set lang = Schola.language('home') %}
{% set locale = Schola.locale %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ lang.effective_personalised }} {{ lang.international_english_learning }}</title>
    <meta name="description" content="{{ lang.home_description }}">
    <meta property="og:title" content="American International School At Home" />
    <meta property="og:description" content="Ages 5-12 years experience American syllabus, activities, and English speaking confidence with trained and qualified teachers! Learn & have fun!">
    <meta property="og:image" content="https://schola.tv/wp-content/plugins/schola/resources/assets/public/images/landing-page/laptop.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ host }}" />
    <meta property="fb:app_id" content="234311713641907" />
    <!-- BOOTSTRAP -->
    <script src="{{ Schola.helper( 'assetUrl' , '/public/js/jquery.min.js' ) }}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/plugins/bootstrap-3.3.7/css/bootstrap.min.css' ) }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/plugins/bootstrap-3.3.7/css/bootstrap-theme.min.css' ) }}" media="screen"/>
    <script type="text/javascript" src="{{ Schola.helper( 'assetUrl' , '/public/plugins/bootstrap-3.3.7/js/bootstrap.min.js' ) }}"></script>

    <link rel="stylesheet" href="{{ Schola.helper('assetUrl', '/public/css/landing-page.css?v=1') }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106550859-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-106550859-1');
    </script>

</head>
<body>
<div class="header mpt-home">
    <div class="wrapper">
        <div class="header-navbar">
            <div class="header-logo">
                <a href="#">
                    <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/logo.png') }}" alt="" data-rjs="2">
                </a>
            </div>
            <div class="all-new">
                <div class="mpt-right-blog">
                    <div class="custom-menubar">
                        <a href="{{ route_url( 'Schola::blog' ) }}" class="header-teachers-link">{{ lang.blogs }}</a>
                        <a href="{{ route_url( 'Schola::contact_us' ) }}" class="header-teachers-link">{{ lang.contact_us }}</a>
                        <a href="{{ route_url('Schola::becomeTeacher') }}" class="header-teachers-link">{{ lang.teachers }}</a>
                    </div>
                    <!-- <a href="{{ route_url('Schola::becomeTeacher') }}" class="header-teachers-link">{{ lang.teachers }}</a> -->
                    <div class="header-languages">
                            {% if locale.locale == "en" %}
                            <span class="language-active"><span class="language-active-icon icon-en"></span> English</span>
                            {% elseif locale.locale == "vi" %}
                            <span class="language-active"><span class="language-active-icon icon-vi"></span> Tiếng Việt</span>
                            {% endif %}
                        <ul>
                            <li>
                                <a href="/lang/en">
                                    <span class="language-active-icon icon-en"></span>English</a>
                            </li>
                            <li>
                                <a href="/lang/vi">
                                    <span class="language-active-icon icon-vi"></span>Tiếng Việt</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mpt-login">
                        <a href="#" class="header-login-btn toggle-login-btn" data-pop="1">{{ lang.login }}</a>
                        <span class="hamburger"></span>
                    </div>
                    <ul class="mobile-menu">
                        <li>
                            <a href="{{ route_url( 'Schola::blog' ) }}">{{ lang.blogs }}</a>
                        </li>
                        <li>
                            <a href="{{ route_url( 'Schola::contact_us' ) }}">{{ lang.contact_us }}</a>
                        </li>
                        <li>
                            <a href="{{ route_url('Schola::becomeTeacher') }}">{{ lang.teachers }}</a>
                        </li>
                    </ul>
                </div> <!-- mpt-right-blog -->
            </div> <!-- all-new -->
        </div>

        <div class="desktop-billboard">
            <h1 class="header-title">{{ lang.american_school_at_home }}</h1>
            <span class="header-posttitle">{{ lang.american_school_at_home_description }}</span>
            <a href="#" class="action-btn" data-pop="2">{{ lang.get_free_trial }}</a>
            <div class="header-slider">
                <div class="header-slide">
                    <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/laptop.png') }}" width="530" alt="{{ lang.kids_learn_english }}" data-rjs="2">
                </div>
            </div>
        </div>
        <div class="swiper-container mobile-slider">
            <div class="swiper-wrapper teachers-slider">
                <div class="mobile-slide swiper-slide">
                    <div class="mobile-slide-img visible-xs">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/children.png') }}" alt="">
                    </div>
                    <div class="mobile-slide-img visible-sm">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/children@1000w.png') }}" alt="">
                    </div>
                    <div class="mobile-slide-text">
                        <h4 class="mobile-slide-title">{{ lang.american_school_at_home }}</h4>
                        <span class="mobile-slide-posttitle">{{ lang.american_school_at_home_description }}</span>
                    </div>
                </div>
                <div class="mobile-slide swiper-slide">
                    <div class="mobile-slide-img visible-xs">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/laptop-slide@3x.png') }}" alt="">
                    </div>
                    <div class="mobile-slide-img visible-sm">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/laptop@1000w.png') }}" alt="">
                    </div>
                    <div class="mobile-slide-text">
                        <h4 class="mobile-slide-title">{{ lang.american_school_at_home }}</h4>
                        <span class="mobile-slide-posttitle">{{ lang.american_school_at_home_description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="wrapper">
    <div class="benchmarks">
        <h2 class="benchmarks-title">{{ lang.aligned_benchmarks }}</h2>
        <div class="benchmarks-logos">
            <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/cae.png') }}" alt="{{lang.cambridge_assessment_english}}" data-rjs="2">
            <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/cerf.png') }}" alt="{{lang.common_european_framework}}" data-rjs="2">
            <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/ccss.png') }}" alt="{{lang.us_common_core_standard}}" data-rjs="2">
        </div>
    </div>
</div>

<div class="tabs">
    <div class="wrapper">
        <div class="tabs-controls-wrapper">
            <div class="tabs-controls">
                <a class="active" href="#" data-tab-toggle="1">{{ lang.american_syllabus }}</a>
                <a href="#" data-tab-toggle="2">{{ lang.teaching_quality }}</a>
                <a href="#" data-tab-toggle="3">{{ lang.satisfaction_guarantee }}</a>
                <a href="#" data-tab-toggle="4">{{ lang.contact_us }}</a>
            </div>
        </div>

        <div class="tabs-container">
            <div class="tab active" data-tab="1">
                <div class="tab-about">
                    <h3 class="tab-title">{{ lang.american_elementary_school }}</h3>
                    <a href="#" class="action-btn" data-pop="2">{{ lang.get_free_trial }}</a>
                </div>
                <div class="tab-features three-cols">
                    <div class="tab-feature">
                        <span class="tab-feature-number">1</span>
                        <h4 class="tab-feature-title">{{ lang.creativity_culture }}</h4>
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/tab-feature-1.svg') }}" alt="{{lang.help_kids_improve}}" class="tab-feature-image">
                    </div>
                    <div class="tab-feature">
                        <span class="tab-feature-number">2</span>
                        <h4 class="tab-feature-title">{{ lang.immersive_subject }}</h4>
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/ccss.png') }}" alt="{{lang.immersive_subject_based_learning}}" class="tab-feature-image" data-rjs="2">
                    </div>
                    <div class="tab-feature">
                        <span class="tab-feature-number">3</span>
                        <h4 class="tab-feature-title">{{ lang.speak_express_with_confidence }}</h4>
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/tab-feature-2.png') }}" alt="{{lang.help_kids_speak_English}}" class="tab-feature-image" data-rjs="2">
                    </div>
                </div>
            </div>
            <div class="tab" data-tab="2">
                <div class="tab-about">
                    <h3 class="tab-title">{{ lang.certified_teachers }}
                        <br>{{ lang.fast_student_progress }}</h3>
                    <a href="#" class="action-btn" data-pop="2">{{ lang.get_free_trial }}</a>
                </div>

                <div class="tab-features three-cols wide-pad">
                    <div class="tab-feature">
                        <span class="tab-feature-number">1</span>
                        <h4 class="tab-feature-title">{{ lang.certified_teachers_bachelors_degree }}</h4>
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/tab-2-1.png') }}" alt="{{lang.qualified_teachers_with}}" class="tab-feature-image" data-rjs="2">
                    </div>
                    <div class="tab-feature">
                        <span class="tab-feature-number">2</span>
                        <h4 class="tab-feature-title">{{ lang.anytime_anywhere_learning }}</h4>
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/tab-2-2.png') }}" alt="{{lang.learn_anytime_anywhere}}" class="tab-feature-image" data-rjs="2">
                    </div>
                    <div class="tab-feature">
                        <span class="tab-feature-number">3</span>
                        <h4 class="tab-feature-title">{{ lang.teacher_feedback_track_progress }}</h4>
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/tab-2-3.png') }}" alt="{{lang.continuous_assessment_from}}" class="tab-feature-image" data-rjs="2">
                    </div>
                </div>
            </div>
            <div class="tab" data-tab="3">
                <div class="tab-about">
                    <h3 class="tab-title">{{ lang.see_faster_progress }}</h3>
                    <a href="#" class="action-btn" data-pop="2">{{ lang.get_free_trial }}</a>
                </div>

                <div class="tab-features two-cols guarantee-fix">
                    <div class="tab-feature">
                        <span class="tab-feature-number">1</span>
                        <h4 class="tab-feature-title">{{ lang.money_back_guarantee }}</h4>
                    </div>
                    <div class="tab-feature">
                        <span class="tab-feature-number">2</span>
                        <h4 class="tab-feature-title">{{ lang.personalised_learning }}</h4>
                    </div>
                    <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/guarantee.png') }}" alt="{{lang.guarantee_best_quality}}" data-rjs="2" class="img-guarantee">
                </div>
            </div>
            <div class="tab" data-tab="4">
                <div class="tab-about">
                    <h3 class="tab-title">{{ lang.contact_us_online_any_time }}</h3>
                    <a href="#" class="action-btn" data-pop="2">{{ lang.get_free_trial }}</a>
                </div>

                <div class="tab-features two-cols">
                    <div class="tab-feature">
                        <span class="tab-feature-number">1</span>
                        <h4 class="tab-feature-title">{{ lang.contact_us_online }}</h4>
                        <div class="tab-contacts">
                            <a href="https://www.facebook.com/scholakids/" class="tab-contact-fb"></a>
                            <a href="https://m.me/scholakids" class="tab-contact-messenger"></a>
                        </div>
                    </div>
                    <div class="tab-feature address-feature">
                        <span class="tab-feature-number">2</span>
                        <h4 class="tab-feature-title">{{ lang.our_office }}</h4>
                        <span class="tab-address-title">Singapore</span>
                        <span class="tab-address">#05-20 , 71 Ayer Rajah Cresent, Singapore 139951</span>
                        <span class="tab-address-title">Vietnam</span>
                        <span class="tab-address">108/69C Trần Quang Diệu, Quận 3, TP. HCM</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="teachers">
    <div class="wrapper">
        <h2 class="teachers-title">{{ lang.experienced_teachers | raw }}</h2>

        <div class="swiper-container teachers-slider-container">
            <div class="swiper-wrapper teachers-slider">

                <div class="teachers-slide swiper-slide">
                    <div class="teachers-slide-embed" data-pop="3">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/video-bg.jpg') }}" alt="" data-rjs="2">
                    </div>
                    <div class="teachers-slide-info">
                        <h3 class="teachers-slide-title">{{lang.teacher_name}}</h3>
                        <p class="teachers-slide-about">{{lang.anna_intro}}</p>
                        <div class="teachers-slide-hashes">
                            <span>{{ lang.energetic }}</span>
                            <span>{{ lang.patient }}</span>
                            <span>{{ lang.caring }}</span>
                        </div>
                    </div>
                </div>


                <!-- <div class="teachers-slide swiper-slide">
                    <div class="teachers-slide-embed" data-pop="3">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/video-bg.png') }}" alt="" data-rjs="2">
                    </div>
                    <div class="teachers-slide-info">
                        <h3 class="teachers-slide-title">Anna Chistianson</h3>
                        <p class="teachers-slide-about">My name is Anna. I received my Master's degree from American Foreign Studies University. I am passionate
                            about language as well as teaching kids. I develop curriculum for Schola!</p>
                        <div class="teachers-slide-hashes">
                            <span>{{ lang.energetic }}</span>
                            <span>{{ lang.patient }}</span>
                            <span>{{ lang.caring }}</span>
                        </div>
                    </div>
                </div>


                <div class="teachers-slide swiper-slide">
                    <div class="teachers-slide-embed" data-pop="3">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/video-bg.png') }}" alt="" data-rjs="2">
                    </div>
                    <div class="teachers-slide-info">
                        <h3 class="teachers-slide-title">Anna Chistianson</h3>
                        <p class="teachers-slide-about">My name is Anna. I received my Master's degree from American Foreign Studies University. I am passionate
                            about language as well as teaching kids. I develop curriculum for Schola!</p>
                        <div class="teachers-slide-hashes">
                            <span>{{ lang.energetic }}</span>
                            <span>{{ lang.patient }}</span>
                            <span>{{ lang.caring }}</span>
                        </div>
                    </div>
                </div>

            </div> -->
            <!-- Add Arrows -->
            <span class="slide-next team-next"></span>
            <span class="slide-prev team-prev"></span>

        </div>

        <a href="#" class="teachers-how">{{ lang.how_do_we_choose_teachers }}</a>
        <a href="#" class="action-btn" data-pop="2">{{ lang.get_free_trial }}</a>
    </div>
</div>

<div class="team">
    <div class="wrapper">
        <h2 class="team-title">{{ lang.our_team }}</h2>
        <div class="swiper-container team-slider-container no-oh">
            <div class="swiper-wrapper team-slider">

                <div class="team-slide swiper-slide">
                    <div class="team-slide-image">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/team-image-1.png') }}" alt="" data-rjs="2">
                    </div>
                    <div class="team-slide-content">
                        <h3 class="team-slide-title">Aditya Gupta</h3>
                        <span class="team-slide-spec">{{ lang.ceo_co_founder }}</span>
                        <p class="team-slide-about">{{ lang.aditya_gupta_quote }}</p>
                    </div>
                </div>


                <div class="team-slide swiper-slide">
                    <div class="team-slide-image">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/team-image-2.png') }}" alt="" data-rjs="2">
                    </div>
                    <div class="team-slide-content">
                        <h3 class="team-slide-title">Nhu Tran</h3>
                        <span class="team-slide-spec">{{ lang.marketing_advisor }}</span>
                        <p class="team-slide-about">{{ lang.nhu_tran_quote }}</p>
                    </div>
                </div>


                <div class="swiper-slide team-slide">
                    <div class="team-slide-image">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/team-image-3.png') }}" alt="" data-rjs="2">
                    </div>
                    <div class="team-slide-content">
                        <h3 class="team-slide-title">Kelsie Nguyen</h3>
                        <span class="team-slide-spec">{{ lang.content_advisor }}</span>
                        <p class="team-slide-about">{{ lang.kelsien_nguyen_quote }}</p>
                    </div>
                </div>

            </div>
            <!-- Add Arrows -->
            <span class="slide-next team-next"></span>
            <span class="slide-prev team-prev"></span>

        </div>

    </div>
</div>

<div class="footer">
    <div class="wrapper">
        <div class="footer-content">
            <!-- <a href="#" class="mobile-contact" data-pop="4">{{ lang.contact_us }}</a> -->
            <div class="footer-logo">
                <a href="/">
                    <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/footer-logo.png') }}" alt="" data-rjs="2">
                </a>
            </div>
            <nav class="footer-nav">
                <a href="{{ route_url( 'Schola::blog' ) }}">{{ lang.blogs }}</a>
                <a href="{{ route_url( 'Schola::contact_us' ) }}">{{ lang.contact_us }}</a>
                <a href="{{ route_url( 'Schola::about_us' ) }}">{{ lang.about_us }}</a>
                <a href="#">{{ lang.policy }}</a>
                <a href="#">Copyright © 2017 Schola</a>
            </nav>
            <div class="footer-socials">
                <a href="https://www.facebook.com/scholakids/" target="_blank">
                    <i class="icon-fb"></i>
                </a>
                <a href="#">
                    <i class="icon-insta"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="mobile-footer">
    <a class="mobile-footer-trial" href="#" data-pop="2">{{ lang.get_free_trial }}</a>
    <a class="mobile-footer-login" href="#" data-pop="1">{{ lang.login }}</a>
</div>

<div class="avs-popup trial-popup popup-close" data-pop-open="2">
    <div class="avs-popup-content-wrapper">
        <div class="avs-pop-inner">
            <div class="avs-popup-content">
                <div class="popup-row">
                    <div class="popup-img-col">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/eleph.png') }}" alt="" data-rjs="2">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/footer-logo.png') }}" alt="" data-rjs="2" class="popup-logo">
                    </div>
                    <div class="popup-content-col">
                        <h5 class="popup-title">Get Your
                            <span>Free Trial</span>
                        </h5>
                        <a href="#" class="btnLoginFacebook popup-link-facebook">{{ lang.login_with_facebook }}</a>
                        <span class="popup-tip">{{ lang.recommended }}</span>
                        <a href="#" class="btnLoginAccountKit popup-link-phone">{{ lang.phone_number_login }}</a>
                        <div class="popup-message">
                            <span class="popup-message-title">{{ lang.need_help }}</span>
                            <div class="tab-contacts">
                                <a href="https://www.facebook.com/scholakids/" class="tab-contact-fb" target="_blank"></a>
                                <a href="https://m.me/scholakids" class="tab-contact-messenger"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="avs-popup-close popup-close"></span>
            </div>
        </div>
    </div>
</div>

<div class="avs-popup login-popup popup-close" data-pop-open="1">
    <div class="avs-popup-content-wrapper">
        <div class="avs-pop-inner">
            <div class="avs-popup-content">
                <div class="popup-row">
                    <div class="popup-img-col">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/eleph.png') }}" alt="" data-rjs="2">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/footer-logo.png') }}" alt="" data-rjs="2" class="popup-logo">
                    </div>
                    <div class="popup-content-col">
                        <h5 class="popup-title">{{ lang.login_schola|raw }}</h5>
                        <a href="#" class="btnLoginFacebook popup-link-facebook">{{ lang.login_with_facebook }}</a>
                        <span class="popup-tip">{{ lang.recommended }}</span>
                        <a href="#" class="btnLoginAccountKit popup-link-phone">{{ lang.phone_number_login }}</a>
                        <div class="popup-message">
                            <span class="popup-message-title">{{ lang.need_help }}</span>
                            <div class="tab-contacts">
                                <a href="https://www.facebook.com/scholakids/" class="tab-contact-fb" target="_blank"></a>
                                <a href="https://m.me/scholakids" class="tab-contact-messenger"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="avs-popup-close popup-close"></span>
            </div>
        </div>
    </div>
</div>

<div class="avs-popup iframe-popup  popup-close" data-pop-open="3">
    <div class="avs-popup-content-wrapper">
        <div class="avs-pop-inner">
            <div class="avs-popup-content">
                <div class="iframe-wrapper">
                    <iframe id="YourIFrameID" width="560" height="315" src="https://www.youtube.com/embed/r3Z4sUtgrFY" frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                </div>

                <span class="avs-popup-close popup-close youtube-video-popup"></span>
            </div>
        </div>
    </div>
</div>

<div class="avs-popup contact-popup  popup-close" data-pop-open="4">
    <div class="avs-popup-content-wrapper">
        <div class="avs-pop-inner">
            <div class="avs-popup-content">
                <span class="contact-popup-title">{{ lang.contact_us_via_chat }}</span>
                <div class="contact-popup-content">
                    <div class="tab-feature">
                        <span class="tab-feature-number">1</span>
                        <h4 class="tab-feature-title">{{ lang.contact_us_online }}</h4>
                        <div class="tab-contacts">
                            <a href="https://www.facebook.com/scholakids/" class="tab-contact-fb"></a>
                            <a href="https://m.me/scholakids" class="tab-contact-messenger"></a>
                        </div>
                    </div>
                    <div class="tab-feature address-feature">
                        <span class="tab-feature-number">2</span>
                        <h4 class="tab-feature-title">{{ lang.our_office }}</h4>
                        <span class="tab-address-title">Singapore</span>
                        <span class="tab-address">#05-20 , 71 Ayer Rajah Cresent, Singapore 139951</span>
                        <span class="tab-address-title">Vietnam</span>
                        <span class="tab-address">108/69C Trần Quang Diệu, Quận 3, TP. HCM</span>
                    </div>
                </div>

                <span class="avs-popup-close popup-close"></span>
            </div>
        </div>
    </div>
</div>
<div class="hidden">{{ state | raw}}</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/2.1.3/retina.min.js" defer="defer"></script>
<script src="https://sdk.accountkit.com/en_US/sdk.js" defer="defer"></script>
<script src="{{ Schola.helper('assetUrl', '/public/js/landing-page.js') }}" defer="defer"></script>
<script src="{{ Schola.helper( 'assetUrl' , '/public/js/landingPage/landingPage.js' ) }}" type="text/javascript" defer="defer"></script>
<script src="{{ Schola.helper( 'assetUrl' , '/public/js/loginViaAccountKit.js' ) }}" type="text/javascript" defer="defer"></script>
<script type="text/javascript">
    var next = '{{ next }}';
    if(next !== ''){
        $('.login-popup').css({"display":"block"})
    }
    var URL = {
        register: '{{ route_url('Schola::registerTrialClass') }}',
        registerForm: '{{ route_url('Schola::registerTrialClassForm') }}',
        loginFb: '{{ route_url('Schola::login-facebook') }}',
        loginViaAccountKit: '{{ route_url('Schola::loginViaAccountKit') }}',
        childrenFillInformation: '{{ route_url('Schola::schola-children') }}',
    };
    var MESSAGE = {
        registerTrialSuccess: '{{ lang.register_trial_success }}',
        registerTrialError: '{{ lang.register_trial_error }}',
        loginFail: '{{ lang.login_fail_please_try_again }}'
    };
    var accountKitInfo = {
        fbAppId: '{{ fb_app_id }}',
        accountKitVersion: '{{ account_kit_version }}',
        accountKitNonceField: '{{ account_kit_nonce_field }}'
    }
    $(function() {
        accountKitLogin.URL = URL;
        accountKitLogin.accountKitInfo = accountKitInfo;
        accountKitLogin.messages = MESSAGE;
        accountKitLogin.init();
        landingPageView.setUrl(URL);
        landingPageView.setMessage(MESSAGE);
        landingPageView.init();
    });
    $(".youtube-video-popup").click(function(){
      $("#YourIFrameID").attr("src", $("#YourIFrameID").attr("src"));
    });
</script>
{% include "@Schola/public/layout/facebookPixel.twig" %}
{% include "@Schola/public/layout/scriptLiveChat.twig" %}
</body>
</html>