{% set lang = Schola.language('user') %}

{% extends "@Schola/public/layout/master.single.twig" %}

{% block title %}{{ lang.reset_password }}{% endblock %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnResetPassword").click(function () {
                var btnResetPassword = this;
                var password = $('#password').val();
                var token = $('#token').val();
                $.ajax({
                    type: "POST",
                    url: '{{ route_url('Schola::resetPassword') }}',
                    data: {
                        password : password,
                        token: token
                    },
                    beforeSend: function () {
                        $(btnResetPassword).attr('disabled', 'disabled');
                        $('.show-error').removeClass('show-error');
                    },
                    success: function (value) {
                        var res = JSON.parse(value);
                        if (res.status === 'success') {
                            $('#dialogResetSuccess').removeClass('hidden');
                            $('#password').val('');
                        } else {
                            $.each(res.errors, function (index, item) {
                                $('.' + item.key + '-control .error').html(item.value);
                                $('.' + item.key + '-control').addClass('show-error');
                            });
                        }
                    },
                    complete: function () {
                        $(btnResetPassword).removeAttr('disabled');
                    }
                });
            });
            $('#frmResetPass').keypress(function (e) {
                if (e.which === 13) {
                    $('#btnResetPassword').click();
                    return false;
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="forgot-password-page">
        <div class="overlay">
            <div class="forgot-password-form align-middle">
                <div class="logo">
                    <a href="{{ route_url('Schola::home') }}"><img src="{{ Schola.helper('assetUrl', '/public/images/schola.png') }}"/></a>
                </div>
                <form id="frmResetPass">
                    <div class="control password-control">
                        <span class="icon fa fa-key"></span>
                        <input type="password" placeholder="{{ lang.new_password }}" id="password" name="password"/>
                        <div class="error"></div>
                    </div>
                    <input type="hidden" value="{{ token }}" id="token" />
                    <button type="button" id="btnResetPassword" class="button button--isi button--text-thick button--text-upper button--size-s">
                        <i class="icon-spin fa fa-spinner fa-spin"></i> {{ lang.reset_password }}
                    </button>
                    <div class="text-center mt10">
                        {{ lang.have_password }} <a href="{{ route_url('Schola::login') }}" class="link">{{ lang.login }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dialogResetSuccess" class="alert-success hidden">
        <div class="alert reset-success">
            <div class="alert-content">
                <span class="icon fa fa-check-circle"></span>
                <div class="title">{{ lang.reset_password_successful }}</div>
                <div class="message mt20">
                    {{ lang.go_to_login }} <a href="{{ route_url('Schola::login') }}?teacher=1" class="link">{{ lang.login }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}