{% set lang = Schola.language('user') %}

{% extends "@Schola/public/layout/master.twig" %}

{% block title %}{{ lang.switch_profile }}{% endblock %}
{% block head %}
    <script type="text/javascript">
        var isSwitchStudentToTeacher = '{{ isSwitchStudentToTeacher }}';
        var warningTeacher = '{{ lang.warning_student }}';
        var warningStudent = '{{ lang.warning_teacher }}';
        var urlContinue = '{{ route_url('Schola::switch-profile-continue') }}';
        var urlCreate = '{{ route_url('Schola::switch-profile-create') }}';
        var manageView = {
            init: function () {
                $('#dialogSwitchProfile').modal('show');
                $('#btnContinue').on('click', function () {
                   manageView.continue();
                });
                $('#btnCreate').on('click', function () {
                    manageView.create();
                });
            },
            continue: function () {
                $.ajax({
                    type: 'POST',
                    url: urlContinue,
                    data: '',
                    success: function () {
                        window.location.href = '{{ route_url('Schola::home') }}';
                    }
                });
            },
            create: function () {
                var isConfirm = confirm(isSwitchStudentToTeacher ? warningTeacher : warningStudent);
                if(isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: urlCreate,
                        data: {'isSwitchStudentToTeacher': isSwitchStudentToTeacher},
                        success: function (res) {
                            var val = JSON.parse(res);
                            if(val.status === 'success') {
                                if (isSwitchStudentToTeacher) {
                                    window.location.href = '{{ route_url('Schola::schola-teacher-dashboard') }}';
                                } else {
                                    window.location.href = '{{ route_url('Schola::schola-children') }}';
                                }
                            }
                        }
                    });
                }
            }
        };
        $(document).ready(function () {
            manageView.init();
        });
    </script>
{% endblock %}
{% block content %}
    <div>
        {% include "@Schola/public/partial/navigation.twig" %}
    </div>
    <div class="container-fluid">
        <div class="content-width">
            <div id="dialogSwitchProfile" class="modal fade" role="dialog" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ lang.switch_profile }}</h4>
                        </div>
                        <div class="modal-body">
                            <h1 class="message-thank">
                                {% if isSwitchStudentToTeacher %}
                                    {{ lang.signup_as_student }}
                                {% else %}
                                    {{ lang.signup_as_teacher }}
                                {% endif %}
                            </h1>
                        </div>
                        <div class="modal-footer">
                            <div class="text-center">
                                <button id="btnContinue" type="button" class="button button--saqui button--inverted button--round-l button--text-thin button--size-s" data-text="{{ isSwitchStudentToTeacher ? lang.continue_student : lang.continue_teacher }}">
                                    {% if isSwitchStudentToTeacher %}
                                        {{ lang.continue_student }}
                                    {% else %}
                                        {{ lang.continue_teacher }}
                                    {% endif %}
                                </button>
                                <button id="btnCreate" type="button" class="button button--saqui button--inverted button--round-l button--text-thin button--size-s button--border border-orange" data-text="{{ isSwitchStudentToTeacher ? lang.create_teacher : lang.create_profile }}">
                                    {% if isSwitchStudentToTeacher %}
                                        {{ lang.create_teacher }}
                                    {% else %}
                                        {{ lang.create_profile }}
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}