{% set lang = Schola.language('student') %}

{% extends "@Schola/public/layout/layoutDashboard.twig" %}

{% block title %}{{ lang.schedule }}{% endblock %}

{% block head %}
<script src="{{ Schola.helper( 'assetUrl' , '/public/js/classAccess/classAccess.js' ) }}" type="text/javascript"></script>  
    <script type="text/javascript">
        var URL = {
            checkClassTime: '{{ route_url('Schola::classroom-classtime') }}',
            classroomUrl: '{{ route_url("Schola::classroom")}}',
        };
        var MESSAGE= {
            checkPinBefore: '{{ lang.enter_class_before_schedule_time }}',
            checkPinAfter: '{{ lang.enter_class_after_schedule_time }}',
            checkPinInvalid : '{{ lang.enter_class_invalid_code }}',
        };
        $(function () {
            classView.init(URL,MESSAGE);
        });
    </script>
{% endblock %}

{% block content %}
    
    <div class="container-fluid access_class_upcoming">
        <div class="content-width">
            <div class="panel-content">
                <div class="dashboard-content">
                    <div>
                        
                    </div>
                    <div class="clearfix">
                        <div class="page-title"></div>
                       
                        <div id="tabGroupClass" class="tabs-panel dashboard_upcoming_class">

                            <div class="panel-list mb30 tab-item tab-0 active">
                                <div class="title-list ">{{ lang.classes_today }}</div>

                                {% for class in bookedClasses %}

                                    <div class="practice-item label-top-xs">
                                       
                                        <div class="col-sm-8 col-xs-6 col-md-8 pr0-xs">
                                            <div class="title">
                                            {%if class.group_id !=0 %}
                                                    {{ class.group_lession_name }} (Group)
                                                {%else%}
                                                    {% if class.lession_name is not null and class.lession_name != ""%}
                                                        {{ class.lession_name }}
                                                    {% else %}
                                                        {{ class.lesson_title }}
                                                    {% endif %}    
                                                {% endif %}
                                            </div>
                                           
                                            {% set realScheduledTime = (class.schedule_real_date != null) ? class.schedule_real_date : class.schedule_date %}
                                                {% set scheduledTime = realScheduledTime|date_modify('+' ~ timezoneOffset*60 ~ ' minutes') %}

                                                <div class="time mb5">{{ scheduledTime|date('d/m/y') }} <span class="mobile-view-from"> {{ lang.from }} </span>{{ scheduledTime|date('H:i') }}<span class="mobile-view-from"> - {{ scheduledTime|date_modify('+' ~ class.schedule_duration ~ ' minutes')|date('H:i') }}</span></div>
                                            
                                        </div>
                                        <div class="col-sm-4 col-xs-6 col-md-4">
                                            <div class="mt30">
                                                <a id="btnAccessEnterClass" 
                                                   class="btn btnAccessEnterClass" data-text="{{ lang.enter_class }}" data-id="{{ class.teacher_schedule_id }}" >
                                                    {{ lang.enter_class }}
                                                </a>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    
                                {% endfor %}
                            </div>
                            <div class="user_access_error">
                
                            </div>

                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div id="cancelConfirmDialogContaier">

    </div>
    <div id="rateConfirmDialogContaier">

    </div>
{% endblock %}