{% set lang = Schola.language('userprofile') %}

<div class="col-lg-4">
	<div class="control-item ">
		<div class="wrapper-control student_avatar-control">
			<div class="upload-avatar gender-{{ studentInfo.profile_gender }}">
				<img id="srcAvatar" src="{{childAvatar}}" />
				<div class="change-avatar" onclick="$('#studentAvatar').click();">
					<span class="fa fa-camera"></span>
				</div>
			</div>
			<input
				style="display: none"
				onchange="profile.changeAvatar(event);"
				type="file" 
				id="studentAvatar" 
				name="studentAvatar" />	
			<div class="error"></div>
		</div>
	</div>
</div>
<div class="col-lg-8">
	<div class="control-item ">
		<label for="profile_name">{{ lang.name }}</label>
		<div class="wrapper-control profile_name-control">
			<div class="control">
				<input value="{{ studentInfo.profile_name }}" type="text" name="profile_name" id="profile_name"></input>
				<span class="error"></span>
			</div>
		</div>
	</div>
	<div class="control-item ">
		<label for="teacher-gender">{{ lang.gender }}</label>
		<div class="wrapper-control profile_gender-control">
			<div class="control">
				<select class="select-single" id="profile_gender" name="profile_gender">
					<option {{ studentInfo.profile_gender == 0 ? 'selected' : '' }} value="0">{{ lang.female }}</option>
					<option {{ studentInfo.profile_gender == 1 ? 'selected' : '' }} value="1">{{ lang.male }}</option>
				</select>
				<span class="error"></span>
			</div>
		</div>
	</div>
	<div class="control-item">
		<label for="profile_birthday">{{ lang.birthday }}</label>
		<div class="wrapper-control profile_birthday-control">
			<div class="control">
				<input value="{{ studentInfo.profile_birthday|date('m/d/Y')}}" type="text" name="profile_birthday" class="date-time" id="profile_birthday"/>
				<span class="error"></span>
			</div>
		</div>
	</div>
	<div class="control-item">
		<label for="profile_level">{{ lang.level }}</label>
		<div class="wrapper-control profile_level-control">
			<div class="control">
				<select class="select-single" id="profile_level" name="profile_level">
					<option {{studentInfo.profile_level == 1 ? 'selected' : ''}} value="1">{{ lang.nerver_learn_english }}</option>
					<option {{studentInfo.profile_level == 2 ? 'selected' : ''}} value="2">{{ lang.basic }}</option>
					<option {{studentInfo.profile_level == 3 ? 'selected' : ''}} value="3">{{ lang.intermediate }}</option>
					<option {{studentInfo.profile_level == 4 ? 'selected' : ''}} value="4">{{ lang.advanced }}</option>
				</select>
				<span class="error"></span>
			</div>
		</div>
	</div>
</div>
<input id="profileMode" name="profileMode" type="hidden" value="{{tab}}"></input>