{% set lang = Schola.language('userprofile') %}

<div class="control-item">
	<label for="teacher-firstname">{{ lang.your_education }}</label>
	<div class="control">
		<button id="btnShowDialogAddEducation" class="button button--sacnite button-round"
				type="button">
			<i class="button__icon fa fa-plus"></i><span>{{ lang.add }}</span>
		</button>
	</div>
	<div class="clearfix mt20">
		<table id="tableEducation" class="table">
			<thead>
			<tr>
				<th class="w40">{{ lang.school_name }}</th>
				<th class="w10">{{ lang.from }}</th>
				<th class="w10">{{ lang.to }}</th>
				<th class="w20">{{ lang.major }}</th>
				<th class="w15">{{ lang.level }}</th>
				<th class="w15"></th>
			</tr>
			</thead>
			<tbody>
			{% for item in listEdu %}
				<tr id="educationRow{{ item.education_id }}"
					data-education-id="{{ item.education_id }}">
					<td class="education-school">{{ item.education_school }}</td>
					<td class="education-from">{{ item.education_from|date("m/d/Y") }}</td>
					<td class="education-to">{{ item.education_to|date("m/d/Y") }}</td>
					<td class="education-major">{{ item.education_major }}</td>
					<td class="education-level">
						{% if item.education_level == 1%} 
							{{ lang.master }} 
						{% elseif item.education_level == 2 %} 
							{{ lang.bachelor }} 
						{% elseif item.education_level == 3 %} 
							{{ lang.other }} 
						{% endif %}
					</td>
					<td>
						<span data-edu-id="{{ item.education_id }}" class="editEducation fa fa-edit"></span>
						<span data-edu-id="{{ item.education_id }}" class="deleteEducation fa fa-trash"></span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>