<script>
    var $ = jQuery.noConflict();
    var lessonView = {
        URL: {
            updateLesson: '',
            edit: '',
            deleteLesson: '',
			uploadDocuments: ''
        },
        init: function (url) {
            var base = this;
            base.URL = url;
        },
        updateLesson: function () {
			var arrayFile = $('.fileDocuments');
			if(arrayFile.size() !== 0 ){
				var size = arrayFile.size();
				for(var i = 0; i < size; i++){
					var obj = $(arrayFile[i]);
					if($(obj) !== null){
						if($(obj).data('type') === 1){
							$('#preClassFile').val($('#preClassFile').val()+','+$(obj).data('file-id'));
						}else if($(obj).data('type') === 2){
							$('#postClassFile').val($('#postClassFile').val()+','+$(obj).data('file-id'));
						}else{
							$('#otherClassFile').val($('#otherClassFile').val()+','+$(obj).data('file-id'));
						}
					}
				}
			}
            var base = this;
            $('.text-danger').text('');
            $.ajax({
                type: 'POST',
                url: base.URL.updateLesson,
                data: $('#frmLesson').serializeArray(),
                success: function (data) {
                    var res = JSON.parse(data);
                    if (res.status === 'success') {
                        if ($('#lession_id').val() === '0') {
                            location.reload();
                        } else {
                            var tr = $('.lession-' + res.data.lession_id);
                            $(tr).find('.lession_name')[0].innerHTML = res.data.lession_sn + ' - ' + res.data.lession_name;
                            $(tr).find('.lession_des')[0].innerHTML = res.data.lession_des;
                            $('#dialogLesson').modal('hide');
                        }
                    } else {
                        $.each(res.errors, function (index, item) {
                            $('.' + item.key + '-control .text-danger').text(item.value);
                        });
                    }
                }
            });
        },
        editLesson: function (id) {
            if (id === 0) {
                $('#lession_id').val('0');
                $('#lession_name').val('');
				$('#lession_sn').val('');
                $('#lession_des').val('');
                $('#unit').prop('selectedIndex', 0);
                $('.text-danger').text('');
                $('#dialogLesson').modal('show');
            } else {
                var base = this;
                $('#lession_name').val('');
                $('#lession_des').val('');
                $.ajax({
                    type: 'POST',
                    url: base.URL.editLesson,
                    data: {'id': id},
                    success: function (data) {
                        var res = JSON.parse(data);
						var html1 = base.generateFile(1,res.lession_file_pre, res.url_path);
						var html2 = base.generateFile(2,res.lession_file_post, res.url_path);
						var html3 = base.generateFile(3,res.lession_file_other, res.url_path);
						$('#listFiles').html(html1+html2+html3);
                        $('#lession_id').val(res.lession_id);
                        $('#lession_name').val(res.lession_name);
						$('#lession_sn').val(res.lession_sn);
                        $('#lession_des').val(res.lession_des);
                        $('#unit').val(res.unit_id);
                        $('.text-danger').text('');
                        $('#dialogLesson').modal('show');
                    }
                });
            }
        },
        deleteLesson: function (id) {
            if (confirm('Are you sure delete?')) {
                var base = this;
                $.ajax({
                    type: 'POST',
                    url: base.URL.deleteLesson,
                    data: {'id': id},
                    success: function (data) {
                        var res = JSON.parse(data);
                        if (res.status === 'success') {
                            $('.lession-' + id).remove();
                        } else {
                            alert('The record is being used. Could not delete');
                        }
                    }
                });
            }
        },
		generateFile: function(type, list,url_path){
			var html = "";
			if(list.length !== 0 ){
				var len = list.length;				
				for(var i = 0; i< len; i++){
					var label = '';
					switch(type){
						case 1:
							label = 'label-primary';
							break;
						case 2:
							label = 'label-success';
							break;
						case 3:
							label = 'label-info';
							break;
						default :
							break;
					}
					html = html + "<span style='display:inline-block' class='file_item_"+list[i].file_id+" label "
							+ label +" fileDocuments' data-type='"+type
							+ "' data-new='false' data-file-id='"+list[i].file_id 
							+"'><a style='color:white' href='"+url_path+list[i].file_path+"'>"
							+ list[i].file_realname+"</a><a href=\"javascript:lessonView.deleteFile('file_item_" + list[i].file_id + "')\" class='label label-default'>X</a></span>";

				}
			}
			return html;
		},
		deleteFile: function(target){
			$("." + target).remove();
		}
		,
		uploadEvent: function (evt){
			var files = evt.target.files;
			if(files.length !== 0 && window.FormData !== undefined){
				var data = new FormData();
				var fileType = $('#materialType').val();
				data.append('filesize',files.length);
				data.append('filetype',fileType);
				data.append('action',1);
				for(var i = 0; i < files.length; i++){
					data.append('document'+i,files[i]);
				}
				$.ajax({
					type: 'POST',
					url: this.URL.uploadDocuments,
					data: data,
					contentType: false,
					processData: false,   
					success: function (data) {
						var res = JSON.parse(data);
						if(res.length !== 0 ){
							var len = res.length;
							var html = "";
							for(var i = 0; i< len; i++){
								var label = '';
								switch(res[i].type){
									case 1:
										label = 'label-primary';
										break;
									case 2:
										label = 'label-success';
										break;
									case 3:
										label = 'label-info';
										break;
									default :
										break;
								}
								html = html + 
										"<span style='display:inline-block' class='file_item_"+res[i].id+" label " +
										label +
										" fileDocuments' data-type='" + 
										res[i].type+"' data-new='true' data-file-id='"+res[i].id +
										"'><a style='color:white' href='"+res[i].path +
										"'>"+res[i].realname+"</a><a href=\"javascript:lessonView.deleteFile('file_item_" + res[i].id + "')\" class='label label-default'>X</a></span>";
								
							}
							$('#listFiles').html($('#listFiles').html()+html);
						}
					}
				});
			}
		}
    };
    var URL = {
        updateLesson: '{{ route_url('Schola::schola-admin-lesson-update') }}',
        editLesson: '{{ route_url('Schola::schola-admin-lesson-edit') }}',
        deleteLesson: '{{ route_url('Schola::schola-admin-lesson-delete') }}',
		uploadDocuments: '{{route_url('Schola::services-file-upload')}}'
    };
    $(document).ready(function () {
        lessonView.init(URL);
    });
</script>
<div class="wrap">
    <button onclick="lessonView.editLesson(0)" type="button" class="btn btn-default">Add new</button>
    <form id="unitLession">
        <table class="wp-list-table widefat fixed striped posts">
            <thead>
            <tr>
                <th scope="col" class="manage-column column-primary">Name</th>
                <th scope="col" class="manage-column">Description</th>
            </tr>
            </thead>
            <tbody id="the-list">
            {% for lession in listLession %}
                <tr class="lession-{{ lession.lession_id }}">
                    <td>
                        <strong><a class="row-title lession_name" href="#"
                                   onclick="lessonView.editLesson({{ lession.lession_id }})">{{ lession.lession_sn ~ ' - ' ~ lession.lession_name }}</a></strong>
                        <div class="row-actions">
                        <span class="edit">
                            <a href="#" onclick="lessonView.editLesson({{ lession.lession_id }})">Edit</a> |
                        </span>
                            <span class="trash">
                            <a href="#" onclick="lessonView.deleteLesson({{ lession.lession_id }})">Trash</a>
                        </span>
                        </div>
                    </td>
                    <td><span class="lession_des">{{ lession.lession_des }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th scope="col" class="manage-column column-primary">Name</th>
                <th scope="col" class="manage-column">Description</th>
            </tr>
            </tfoot>
        </table>
    </form>
    <div id="ajax-response"></div>
    <br class="clear">
</div>
<div id="dialogLesson" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lesson</h4>
            </div>
            <div class="modal-body">
                <form id="frmLesson" class="form-horizontal">
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Unit</label>
                        <div class="col-sm-10">
                            <select id="unit" name="unit" class="form-control">
                                {% for unit in listUnit %}
                                    <option value="{{ unit.unit_id }}">{{ unit.unit_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
					<div class="form-group lession_name-control">
                        <label for="lession" class="col-sm-2 control-label">Lesson SN</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="lession_sn" name="lession_sn" placeholder="Lession SN">
                            <div class="text-danger"></div>
                        </div>
                    </div>
                    <div class="form-group lession_name-control">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="hidden" value="{{ lesson.lession_id }}" name="lession_id" id="lession_id">
                            <input class="form-control" id="lession_name" name="lession_name" placeholder="Name">
                            <div class="text-danger"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="lession_des" name="lession_des"
                                      placeholder="Description" rows="10"></textarea>
                        </div>
                    </div>
					<div class="form-group">
						<label for="materialType" class="col-sm-2 control-label">Material</label>
                        <div class="col-sm-10">
							<select id="materialType">
								<option value="1">Pre class</option>
								<option value="2">Post class</option>
								<option value="3">Other</option>
							</select>
							<input type="button" value="Select file" class="btn btn-default" onclick="$($('#tmpUploadFile')[0]).click()"/>
                        </div>
                    </div>
					<div id="listFiles" class="form-group">
					</div>
					<div class="form-group">						
                        <div class="col-sm-offset-2 col-sm-10">
							<input type="hidden" id="preClassFile" name="pre_class_file"/>
							<input type="hidden" id="postClassFile" name="post_class_file"/>
							<input type="hidden" id="otherClassFile" name="other_class_file"/>
                            <input name="document[]" onchange="lessonView.uploadEvent(event);" id="tmpUploadFile" type="file" multiple style="display: none">
                        </div>
                    </div>		
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary"
                                    onclick="lessonView.updateLesson({{ lession.lession_id }})">Update
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>