<table class="wp-list-table widefat fixed striped posts">
    <thead>
    <tr>
        <th scope="col" class="manage-column column-primary">Phone number</th>
        <th scope="col" class="manage-column">Paranet Name</th>
        <th scope="col" class="manage-column">Kid Name</th>
        <th scope="col" class="manage-column">Trial Code</th>
        <th scope="col" class="manage-column">Native</th>
        <th scope="col" class="manage-column">Expert</th>
        <th scope="col" class="manage-column">Group</th>
        <th scope="col" class="manage-column">Code Type</th>
        <th scope="col" class="manage-column">Status</th>
        <th scope="col" class="manage-column">Date</th>
    </tr>
    </thead>
    <tbody id="the-list">
    {% for item in listTrialCodes %}
        <tr class="reg-{{ item.trial_id }}">
            <td>+{{ item.country_code }} {{ item.phone_number }}</td>
            <td>{{ item.parent_name }}</td>
            <td>{{ item.kid_name }}</td>
            <td>{{ item.trial_code }}</td>
            <td>{{ item.native_class }}</td>
            <td>{{ item.expert_class }}</td>
            <td>{{ item.group_class }}</td>
            <td>{{ item.code_type }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.created_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th scope="col" class="manage-column column-primary">Phone number</th>
        <th scope="col" class="manage-column">Paranet Name</th>
        <th scope="col" class="manage-column">Kid Name</th>
        <th scope="col" class="manage-column">Trial Code</th>
        <th scope="col" class="manage-column">Native</th>
        <th scope="col" class="manage-column">Expert</th>
        <th scope="col" class="manage-column">Group</th>
        <th scope="col" class="manage-column">Code Type</th>
        <th scope="col" class="manage-column">Status</th>
        <th scope="col" class="manage-column">Date</th>
        
    </tr>
    </tfoot>
</table>