<script>
    var $ = jQuery.noConflict();
    var teacherView = {
        URL: {
            teacherApprove: ''
        },
        init: function (url) {
            var base = this;
            base.URL = url;
            $('.teacher-action').click(function () {
                base.teacherApprove($(this));
            });
            $('input[name="filter"]').change(function () {
                base.teacherFilter($(this));
            });
        },
        teacherFilter: function (filter) {
            var id = $(filter).val();
            var base = this;
            $.ajax({
                type: 'POST',
                url: base.URL.teacherFilter,
                data: {'id': id},
                success: function (data) {
                    var res = JSON.parse(data);
                    $('#the-list').html('');
                    $.each(res.listTeacher, function (index, item) {
                        var row = '<tr>';
                        row += '<td><strong>' + item.teacher_firstname + ' ' + item.teacher_lastname + '</strong></td>';
                        row += '<td>' + item.teacher_email + '</td>';
                        if (item.finish === 1) {
                            row += '<td class="status"><span class="label label-success">Approved</span></td>';
                        } else if (item.finish === 2) {
                            row += '<td class="status"><span class="label label-danger">Rejected</span></td>';
                        } else {
                            row += '<td class="status"><span class="label label-info">Pending</span></td>';
                        }
                        row += '<td><div class="btn-group" role="group" aria-label="...">';
                        row += '<button type="button" onclick="teacherView.teacherApprove(this)" class="btn btn-primary teacher-action" data-teacher-id="' + item.teacher_id + '" data-status="1">Approve</button>';
                        row += '<button type="button" onclick="teacherView.teacherApprove(this)" class="btn btn-default teacher-action" data-teacher-id="' + item.teacher_id + '" data-status="2">Reject</button>';
                        row += '</div></td>';
                        row += '</tr>';
                        $('#the-list').append(row);
                    });
                }
            });
        },
        teacherApprove: function (teacherElement) {
            var id = $(teacherElement).data('teacher-id');
            var status = $(teacherElement).data('status');
            var base = this;
            $.ajax({
                type: 'POST',
                url: base.URL.teacherApprove,
                data: {'id': id, 'status': status},
                success: function (data) {
                    var res = JSON.parse(data);
                    if (res.status === 'success') {
                        var tr = $(teacherElement).closest('tr');
                        var strStatus = '';
                        if (status === 1) {
                            strStatus = '<span class="label label-success">Approved</span>';
                        } else {
                            strStatus = '<span class="label label-danger">Rejected</span>';
                        }
                        $(tr).find('.status')[0].innerHTML = strStatus;
                    }
                }
            });
        }
    };
    var URL = {
        teacherFilter: '{{ route_url('Schola::schola-admin-teacher-filter') }}',
        teacherApprove: '{{ route_url('Schola::schola-admin-teacher-approve') }}'
    };
    $(document).ready(function () {
        teacherView.init(URL);
    });
</script>
<div class="wrap">
    <form id="posts-filter">
        <div class="form-group unit_name-control">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" class="filter" name="filter" id="option1" value="-1" autocomplete="off" checked> All
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="filter" name="filter" id="option2" value="1" autocomplete="off"> Approved
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="filter" name="filter" id="option3" value="2" autocomplete="off"> Rejected
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="filter" name="filter" id="option3" value="0" autocomplete="off"> Pending
                </label>
            </div>
        </div>
        <table class="wp-list-table widefat fixed striped posts">
            <thead>
            <tr>
                <th scope="col" class="manage-column column-primary">Name</th>
                <th scope="col" class="manage-column">Email</th>
                <th scope="col" class="manage-column">Status</th>
                <th scope="col" class="manage-column">Action</th>
            </tr>
            </thead>
            <tbody id="the-list">
            {% for teacher in listTeacher %}
                <tr class="teacher-{{ teacher.teacher_id }}">
                    <td>
                        <strong>{{ teacher.teacher_firstname ~ ' ' ~ teacher.teacher_lastname }}</strong>
                    </td>
                    <td><span class="teacher_des">{{ teacher.teacher_email }}</span></td>
                    <td class="status">
                        {% if teacher.finish == 1 %}
                            <span class="label label-success">Approved</span>
                        {% elseif teacher.finish == 2 %}
                            <span class="label label-danger">Rejected</span>
                        {% else %}
                            <span class="label label-info">Pending</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary teacher-action" data-teacher-id="{{ teacher.teacher_id }}" data-status="1">Approve</button>
                            <button type="button" class="btn btn-default teacher-action" data-teacher-id="{{ teacher.teacher_id }}" data-status="2">Reject</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th scope="col" class="manage-column column-primary">Name</th>
                <th scope="col" class="manage-column">Email</th>
                <th scope="col" class="manage-column">Status</th>
                <th scope="col" class="manage-column">Action</th>
            </tr>
            </tfoot>
        </table>
    </form>
    <div id="ajax-response"></div>
    <br class="clear">
</div>