<script>
    var $ = jQuery.noConflict();
    var TrialClassesView = {
        URL: {
            updateTrialClasses: '',
            edit: '',
            deleteTrialClasses: ''
        },
        init: function (url) {
            var base = this;
            base.URL = url;
        },
        updateTrialClasses: function () {
            var base = this;
            $('.phone_number').text('');
            $.ajax({
                type: 'POST',
                url: base.URL.updateTrialClasses,
                data: $('#frmUnit').serializeArray(),
                success: function (data) {
                    var res = JSON.parse(data);
                    if (res.status === 'success') {
                        if($('#unit_id').val() === '0') {
                            location.reload();
                        } else {
                            $(tr).find('.phone_number')[0].innerHTML = res.data.phone_number;
                            $('#dialogUnit').modal('hide');
                        }
                    } else {
                        $.each(res.errors, function (index, item) {
                            console.log('error----'+item.value);
                            $('.phone_number').text(item.value);
                        });
                    }
                }
            });
        },
        editTrialClasses: function (id) {
            if (id === 0) {
                $('#unit_id').val('0');
                $('#unit_name').val('');
                $('#unit_des').val('');
                $('.text-danger').text('');
                $('#dialogUnit').modal('show');
            } else {
                var base = this;
                $('#unit_name').val('');
                $('#unit_des').val('');
                $.ajax({
                    type: 'POST',
                    url: base.URL.editTrialClasses,
                    data: {'id': id},
                    success: function (data) {
                        var res = JSON.parse(data);
                        $('#unit_id').val(res.unit_id);
                        $('#unit_name').val(res.unit_name);
                        $('#unit_des').val(res.unit_des);
                        $('.text-danger').text('');
                        $('#dialogUnit').modal('show');
                    }
                });
            }
        },
        deleteTrialClasses: function (id) {
            if (confirm('Are you sure delete?')) {
                var base = this;
                $.ajax({
                    type: 'POST',
                    url: base.URL.deleteTrialClasses,
                    data: {'id': id},
                    success: function (data) {
                        var res = JSON.parse(data);
                        if (res.status === 'success') {
                            $('.unit-' + id).remove();
                        } else {
                            alert('The record is being used. Could not delete');
                        }
                    }
                });
            }
        }
    };
    var URL = {
        updateTrialClasses: '{{ route_url('Schola::schola-admin-trial-update') }}',
        editTrialClasses: '{{ route_url('Schola::schola-admin-trial-edit') }}',
        deleteTrialClasses: '{{ route_url('Schola::schola-admin-trial-delete') }}'
    };
    $(document).ready(function () {
        TrialClassesView.init(URL);
    });
</script>
<div class="wrap">
    <button onclick="TrialClassesView.editTrialClasses(0)" type="button" class="btn btn-default">Add new</button>
    <form id="posts-filter">
        <div id="listRegisterTrailClass">
            {% include "@Schola/admin/listTrialClasses.twig" %}
        </div>
    </form>
    <div id="ajax-response"></div>
    <br class="clear">
</div>
<div id="dialogUnit" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Trial Classes</h4>
            </div>
            <div class="modal-body">
                <form id="frmUnit" class="form-horizontal">
                    <div class="form-group unit_name-control">
                        <label for="name" class="col-sm-3 control-label">Select Country</label>
                        <div class="col-sm-9">
                            <select id="country_code" name="country_code" class="form-control">
                               {% for listCountryCodes in listCountryCode %}
                                   <option value="{{ listCountryCodes.code }}" "{% if  listCountryCodes.code == 84 %} selected='selected' {% endif %}">{{ listCountryCodes.name }}</option>
                                    }
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group unit_name-control">
                        <label for="name" class="col-sm-3 control-label">Phone Number</label>
                        <div class="col-sm-9">
                            <input type="hidden" value="{{ unit.unit_id }}" name="unit_id" id="unit_id">
                            <input class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number">
                            <div class="text-danger phone_number"></div>
                        </div>
                    </div>
                    <div class="form-group unit_name-control">
                        <label for="name" class="col-sm-3 control-label">Parent Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="parent_name" name="parent_name" placeholder="Parent Name">
                            <div class="text-danger"></div>
                        </div>
                    </div>
                    <div class="form-group unit_name-control">
                        <label for="name" class="col-sm-3 control-label">Kid Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="kid_name" name="kid_name" placeholder="Kid Name">
                            <div class="text-danger"></div>
                        </div>
                    </div>
                    <div class="form-group native_class-control">
                        <label for="name" class="col-sm-3 control-label">Native Class</label>
                        <div class="col-sm-9">
                            <select id="native_class" name="native_class" class="form-control">
                                    <option value="0">0</option>
                                    <option value="1" selected="selected">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group expert_class-control">
                        <label for="name" class="col-sm-3 control-label">Expert Class</label>
                        <div class="col-sm-9">
                            <select id="expert_class" name="expert_class" class="form-control">
                                    <option value="0" selected="selected">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group group_class-control">
                        <label for="name" class="col-sm-3 control-label">Group Class</label>
                        <div class="col-sm-9">
                            <select id="group_class" name="group_class" class="form-control">
                                    <option value="0" selected="selected">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary"
                                    onclick="TrialClassesView.updateTrialClasses({{ unit.unit_id }})">Update
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>