{% set lang = Schola.language('student') %}

{% extends "@Schola/public/layout/layoutDashboard.twig" %}

{% block title %}{{ lang.schedule }}{% endblock %}

{% block head %}
    <script type="text/javascript">

    </script>
{% endblock %}

{% block content %}
    <div>
        {% include "@Schola/public/mockup/navigation.twig" %}
    </div>
    <div class="container-fluid">
        <div class="content-width">
            <div class="panel-content">
                <div class="dashboard-content">
                    <div>
                        {% include "@Schola/public/mockup/leftNavigation.twig" %}
                    </div>
                    <div class="clearfix">
                        <div class="page-title">Choose your class <span class="color-orange">type</span></div>
                        <div class="row main-navigation">
                            <div class="col-sm-6 col-xs-12">
                                <a href="{{ route_url('Schola::availableGroupClass') }}" class="nav-item">
                                    <div class="nav-item-icon">
                                        <img src="{{ Schola.helper('assetUrl', '/public/images/icon/nav-item-1.1.png') }}" alt="BOOK A CLASS">
                                    </div>
                                    <div class="nav-item-name"><span>EXPERT CLASS (45 mins)</span></div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <a href="{{ route_url('Schola::availableGroupClass') }}" class="nav-item">
                                    <div class="nav-item-icon">
                                        <img src="{{ Schola.helper('assetUrl', '/public/images/icon/nav-item-1.2.png') }}" alt="BOOK A CLASS">
                                    </div>
                                    <div class="nav-item-name"><span>NATIVE CLASS (30 mins)</span></div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <a href="{{ route_url('Schola::availableGroupClass') }}" class="nav-item">
                                    <div class="nav-item-icon">
                                        <img src="{{ Schola.helper('assetUrl', '/public/images/icon/nav-item-1.3.png') }}" alt="BOOK A CLASS">
                                    </div>
                                    <div class="nav-item-name"><span>GROUP CLASS</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dot-color">
                    <div class="dot-1"></div>
                    <div class="dot-2"></div>
                    <div class="dot-3"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}