{% set lang = Schola.language('student') %}

{% extends "@Schola/public/layout/layoutDashboard.twig" %}

{% block title %}{{ lang.schedule }}{% endblock %}

{% block head %}
    <script type="text/javascript">

    </script>
{% endblock %}

{% block content %}
    <div>
        {% include "@Schola/public/student/navigation.twig" %}
    </div>
    <div class="container-fluid">
        <div class="content-width">
            <div class="panel-content">
                <div class="dashboard-content">
                    <div>
                        {% include "@Schola/public/student/leftNavigation.twig" %}
                    </div>
                    <div class="clearfix">
                        <div class="page-title">{{ lang.choose_class_type|raw }}</div>
                        <div class="row main-navigation">
                            <div class="col-sm-6 col-xs-12">
                                <a href="{{ route_url('Schola::studentNativeClass') }}" class="nav-item">
                                    <div class="nav-item-icon">
                                        <img src="{{ Schola.helper('assetUrl', '/public/images/icon/nav-item-1.2.png') }}" alt="BOOK A CLASS">
                                    </div>
                                    <div class="nav-item-name"><span>{{ lang.native_class|upper }} (30 {{  lang.mins }})</span></div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <a href="{{ route_url('Schola::studentAvailableGroupClass') }}" class="nav-item">
                                    <div class="nav-item-icon">
                                        <img src="{{ Schola.helper('assetUrl', '/public/images/icon/nav-item-1.3.png') }}" alt="BOOK A CLASS">
                                    </div>
                                    <div class="nav-item-name"><span>{{ lang.group_class|upper }}</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dot-color">
                    <div class="dot-1 hidden-xs"></div>
                    <div class="dot-2 hidden-xs"></div>
                    <div class="dot-3 hidden-xs"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}