{% set lang = Schola.language('student') %}
{% for lessonreview in lessonAndReviews %}
<div class="practice-item">
    <div class="col-sm-7 col-xs-12">
        <div class="title">{{lessonreview.lesson_title}}</div>
        <ul class="label-border">
            <li class="green">{{ lang.level }} {{lessonreview.lesson_level}}</li>
            <li class="green">{{ lang.unit }} {{lessonreview.lesson_unit}}</li>
            <li class="green">{{ lang.lesson }} {{lessonreview.lesson_lesson}}</li>
        </ul>
        
        {% if lessonreview.lesson_id in LessonStatus %}
        <div class="check-finish"><span class="fa fa-check"></span></div>
        {% endif %}
    </div>
    <div class="col-sm-5 col-xs-12">
      
        {% if lessonreview.lesson_review_url is not empty%}
        <a class="btn btn-primary-2 mt15" href="{{ lessonreview.lesson_review_url }}" target="_blank" id="lession_review_{{ lessonreview.lesson_id }}" onclick="lessonStatusView.updateLessonStatus({{ lessonreview.lesson_id }})" >Start practice</a>
        {% else%}
        <a class="btn btn-primary-2 mt15" href="javascript:" id="lession_review_{{ lessonreview.lesson_id }}" onclick="lessonStatusView.updateLessonStatus({{ lessonreview.lesson_id }})" >Start practice</a>
        {% endif %}
    </div>
</div>
{% endfor %}