{% set lang = Schola.language('student') %}

{% extends "@Schola/public/layout/master.twig" %}

{% block title %}{{ lang.children }}{% endblock %}
{% block head %}
    <script src="{{ Schola.helper( 'assetUrl' , '/public/js/student/fillParentInformation.js' ) }}" type="text/javascript"></script>
    <script type="text/javascript">
        var URL = {
            updateInformation: '{{ route_url('Schola::updateParentInformation') }}',
            fillChildrenInformation: '{{ route_url('Schola::schola-children') }}'
        };
        $(function () {
            fillParentInformationView.init(URL);
        });
    </script>
{% endblock %}
{% block content %}
    <div >
        {% include "@Schola/public/partial/navigation.twig" %}
    </div>
    <div class="children-info-page">
        <div class="overlay">
            <div class="children-info-form">
                <h4 class="title">{{ lang.parent_information }}</h4>
                <form id="frmParent" method="post">
                    <div>
                        <label for="first_name">{{ lang.first_name }}</label>
                        <div class="control first_name-control">
                            <input type="text" id="first_name" name="first_name"/>
                            <div class="error"></div>
                        </div>
                    </div>

                    <div>
                        <label for="last_name">{{ lang.last_name }}</label>
                        <div class="control last_name-control">
                            <input type="text" id="last_name" name="last_name"/>
                            <div class="error"></div>
                        </div>
                    </div>

                    <div>
                        <label for="email">{{ lang.email_optional }}</label>
                        <div class="control email-control">
                            <input type="text" id="email" name="email"/>
                            <div class="error"></div>
                        </div>
                    </div>

                    <button type="button" id="btnUpdateInformation" class="button button--isi button--text-thick button--text-upper button--size-s">
                        <i class="icon-spin fa fa-spinner fa-spin"></i> {{ lang.next }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}