<div class="schedule-grid-content">
    <div class="schedule-table">
        <script>
        $(document).scroll(function() {
            Schola.scheduleGrid.fixedGridHeader();
        });
        $(document).bind('touchmove', function() {
            Schola.scheduleGrid.fixedGridHeader();
        });
    </script>
        <table>
        <thead>
        <tr>
            {% for day in scheduleGrid.dayOfWeek %}
                <th>
                    <div>{{ day.value }} {{ day.date }}</div>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {%set offset = -1%}
        {% for time in scheduleGrid.timeOfDay %}
            <tr>
                {% for item in scheduleGrid.dayOfWeek %}
                    {% set offset = offset + 1 %}
                    {% set timeKey = item.key~'-'~time.key %}
                    {% set scheduled = scheduleGrid.baseTimes[offset] in scheduleGrid.scheduledClassesTime %}
                    {% set available = scheduleGrid.baseTimes[offset] in scheduleGrid.availableClassesTime %}
                    {% set validTime = ((item.timestamp + time.key) >= scheduleGrid.currentTimeStamp)%}

                    {% set classItem = '' %}
                    {% if scheduled %}
                        {% set classItem = classItem~'scheduled' %}
                    {% endif %}

                    {% if (validTime and (scheduled or available)) %}
                        {% set classItem = classItem~' active-time' %}
                    {% else %}
                        {% set classItem = classItem~' disable-time' %}
                    {% endif %}

                    <td class="schedule-time-item {{ classItem }} item{{ item.timestamp + time.key }}"
                        data-time="{{ timeKey }}"
                        data-basetime="{{scheduleGrid.baseTimes[offset]}}"
                        data-timestamp="{{ item.timestamp + time.key }}"
                        data-offset="{{ offset }}"
                    >
                        <div>
                            {{ time.value }}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>