
<div id="dialogGroupClass" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Group class</h4>
            </div>
            <div class="modal-body">
                <form id="frmGroupClass" class="form-horizontal">
                    <div class="form-group teacher_id-control">
                        <label for="teacher_id" class="col-sm-2 control-label">Teacher</label>
                        <div class="col-sm-10">
                            <select id="teacher_id" name="teacher_id" class="form-control" onchange="groupClasses.getTeacherSlot()"">
                                {% for teacher in teachers %}
                                    <option {%if teacher.teacher_id == model.teacher_id%}selected{%endif%} value="{{ teacher.teacher_id }}">{{ teacher.teacher_firstname ~ ' ' ~ teacher.teacher_lastname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group lession_name-control">
                        <label for="lession_name" class="col-sm-2 control-label">Lesson</label>
                        <div class="col-lg-10">
                            <input class="form-control" value='{{model.lession_name}}' id="lession_name" name="lession_name" placeholder="Lesson">
                            <div class="text-danger"></div>
                        </div>
                    </div>
                    <div class="form-group schedule_date-control">
                        <label for="schedule_date" class="col-sm-2 control-label">Start Date</label>
                        <div class="col-lg-10">
                            <input onkeypress="return false;" class="form-control" {%if model.schedule_real_date != ''%}value='{{model.schedule_real_date|date('Y-m-d')}}'{%endif%} id="schedule_date" name="schedule_date" onchange="groupClasses.getTeacherSlot()">
                            <div class="text-danger"></div>
                        </div>
                    </div>

                     <div class="form-group schedule_time_slot-control">
                        <label for="schedule_time_slot" class="col-sm-2 control-label">Start time</label>
                        <div class="col-lg-10">
                            <select id="schedule_time_slot" name="schedule_time_slot[]" class="form-control" multiple  onchange="groupClasses.selectSlot()">
                            </select>
                            <div class="text-danger"></div>
                            <div class="text-danger timeSlotError"></div>
                        </div>
                    </div>


                    <div class="form-group schedule_timezone-control">
                        <label for="schedule_timezone" class="col-sm-2 control-label">Start timezone</label>
                        <div class="col-lg-10">
                            <select id="schedule_timezone" name="schedule_timezone" class="form-control">
                                {%for timezone in timezones%}
                                    <option {%if timezone.timezone_id == model.schedule_timezone%} selected {%endif%} value="{{ timezone.timezone_id }}">{{ timezone.timezone_display_name }}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
					<div class="form-group schedule_capacity-control">
                        <label for="schedule_capacity" class="col-sm-2 control-label">Number of student</label>
                        <div class="col-lg-10">
                            <input class="form-control numberOnly" value='{{model.schedule_capacity}}' id="schedule_capacity" name="schedule_capacity" placeholder="Number of student">
                            <div class="text-danger"></div>
                        </div>
                    </div>
                    <div class="form-group level-control">
                        <label for="level" class="col-sm-2 control-label">Level</label>
                        <div class="col-lg-10">
                            <select id="level" name="level" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <div class="text-danger"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="button" class="btn btn-primary"
                                    onclick="groupClasses.update()">Update
                            </button>
                        </div>
                    </div>
                    <input type="hidden" value="2" id="action" name="action">
                    <input type="hidden" value="{{model.group_id}}" id="group_id" name="group_id">
                </form>
            </div>
        </div>
    </div>
</div>