<div>
    <button onclick="groupClasses.addOrEdit(-1)" type="button" class="btn btn-default">Add new</button>
    <!-- <select id="filterTeacherId" style="float:right" onchange="groupClasses.filter(this);">
        {%for teacher in teachers%}
            <option {%if teacher.teacher_id == teacherId%}selected{%endif%} value="{{teacher.teacher_id}}">{{teacher.teacher_firstname ~ ' ' ~ teacher.teacher_lastname}}</option>
        {%endfor%}
    </select> -->
</div>
<table class="wp-list-table widefat fixed striped posts">
    <thead>
    <tr>
        <th scope="col" class="manage-column">Topic/title</th>
        <th scope="col" class="manage-column">Start date</th>
        <th scope="col" class="manage-column">Teacher</th>
        <th scope="col" class="manage-column">Capacity</th>
        <th scope="col" class="manage-column">Duration</th>
    </tr>
    </thead>
    <tbody id="the-list">
    {% for classes in listGroup %}
    
        <tr class="classes-{{ classes.group_id }}">
            <td>
                <strong>
                    <a class="row-title" href="#" onclick="groupClasses.addOrEdit({{ classes.group_id }})">
                        {{ classes.lession_name }}
                    </a>
                    </strong>
                <div class="row-actions">
                    <span class="edit">
                        <a href="#" onclick="groupClasses.addOrEdit({{ classes.group_id }})">Edit</a> |
                    </span>
                        <span class="trash">
                        <a href="#" onclick="groupClasses.delete({{ classes.group_id }},1)">Cancel</a>
                    </span>
                    </span>
                        <span class="trash">
                        <a href="#" onclick="groupClasses.delete({{ classes.group_id }})">Trash</a>
                    </span>
                </div>
            </td>
            <td><span>{{ classes.schedule_real_date|date('d/m/Y H:i') }} (GMT)</span></td>
            <td>
                {{classes.teacher_firstname}} {{classes.teacher_lastname}}
            </td>
            <td>{{classes.schedule_capacity - classes.schedule_remaining}}/{{classes.schedule_capacity}}</td>
            <td>{{classes.schedule_duration}} minutes</td>
        </tr>
    {% endfor %}
    </tbody>
</table>