{% set lang = Schola.language('teacher') %}

{% extends "@Schola/public/layout/master.twig" %}

{% block title %}{{ lang.become_a_teacher }}{% endblock %}
{% block head %}
    <script type="text/javascript">

    </script>
{% endblock %}
{% block content %}
    <div class="navigation-transparent">
        {% include "@Schola/public/partial/navigation.twig" %}
    </div>
    <div class="teacher-become-welcome">
        <div class="overlay">
            <div class="welcome-landing">
                <div class="wrap">
                    <h1 class="home-title">{{ lang.earn_money_as|raw }}</h1>
                    <h3 class="description-2">{{ lang.from_saving_for }}</h3>
                    <div class="group-btn">
                        <button onclick="window.open('/signup?teacher=1', '_self');" class="button button--nuka button--round-l"><span class="fa fa-graduation-cap"></span> {{ lang.start_teaching }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="content-width">
            <div class="panel-landing">
                <div class="text-center">
                    <h1 class="title-large-2">{{ lang.how_to_be }}</h1>
                </div>
                <div class="group-step">
                    <div class="step">1</div>
                    <h1 class="title-large">{{ lang.signup_up_to }}</h1>
                    <h4 class="subtitle">{{ lang.start_by_creating }}</h4>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="item-info">
                                <div class="icon"><span class="fa fa-mortar-board"></span></div>
                                <h2 class="item-title">{{ lang.what_will_you }}</h2>
                                <p>
                                    {{ lang.schola_bring_children }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="item-info">
                                <div class="icon"><span class="fa fa-group"></span></div>
                                <h2 class="item-title">{{ lang.who_can_teach }}</h2>
                                <p>
                                    {{ lang.native_english_speaker }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="item-info">
                                <div class="icon"><span class="fa fa-handshake-o"></span></div>
                                <h2 class="item-title">{{ lang.we_are_here }}</h2>
                                <p>
                                    {{ lang.from_providing_a }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-step">
                    <div class="step">2</div>
                    <h1 class="title-large">{{ lang.student_schedule_a }}</h1>
                    <h4 class="subtitle">{{ lang.we_match_you }}</h4>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="item-info">
                                <div class="icon"><span class="fa fa-check"></span></div>
                                <h2 class="item-title">{{ lang.student_book_a }}</h2>
                                <p>
                                    {{ lang.schola_give_student }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="item-info">
                                <div class="icon"><span class="fa fa-calendar-check-o"></span></div>
                                <h2 class="item-title">{{ lang.plan_for_the }}</h2>
                                <p>
                                    {{ lang.teacher_accept_the }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-step">
                    <div class="step">3</div>
                    <h1 class="title-large">{{ lang.conduct_the_class }}</h1>
                    <h4 class="subtitle">{{ lang.conduct_the_class_via }}</h4>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="item-info">
                                <div class="icon"><span class="fa fa-calendar-check-o"></span></div>
                                <h2 class="item-title">{{ lang.plan_and_prepare }}</h2>
                                <p>
                                    {{ lang.schola_give_training }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="item-info">
                                <div class="icon"><span class="fa fa-google-wallet"></span></div>
                                <h2 class="item-title">{{ lang.how_you_get }}</h2>
                                <p>
                                    {{ lang.change_to_payment }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="item-info">
                                <div class="icon"><span class="fa fa-mail-reply"></span></div>
                                <h2 class="item-title">{{ lang.we_got_your }}</h2>
                                <p>
                                    {{ lang.if_the_student }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="item-info">
                                <div class="icon"><span class="fa fa-thumbs-up"></span></div>
                                <h2 class="item-title">{{ lang.schola_is_built }}</h2>
                                <p>
                                    {{ lang.we_verrify_information }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="item-info">
                                <div class="icon"><span class="fa fa-money"></span></div>
                                <h2 class="item-title">{{ lang.so_much_more }}</h2>
                                <p>
                                    {{ lang.help_student_in }} have.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}