{% set lang = Schola.language('teacher') %}

{% extends "@Schola/public/layout/master.twig" %}

{% block title %}{{ lang.step_one }}{% endblock %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nextStep").click(function (e) {
                $('.show-error').removeClass('show-error');
                $.ajax({
                    type: "POST",
                    url: '{{ route_url('Schola::teacherBasicInfoStep1Update') }}',
                    data: $("#frmStepOne").serializeArray(),
                    success: function (value) {
                        var res = JSON.parse(value);
                        if (res.status === 'success') {
                            window.location.href = '{{ route_url('Schola::teacherBasicInfoStep2') }}';
                        } else {
                            $.each(res.errors, function (index, item) {
                                $('.' + item.key + '-control .error').text(item.value);
                                $('.' + item.key + '-control').addClass('show-error');
                            });
                            $('.basic-information-form .show-error input, .basic-information-form .show-error select').get(0).focus();
                        }
                    }
                });
            })
            $("#backStep").click(function (e) {
                window.location.href = '{{ route_url('Schola::teacherBasicInfoStep1') }}';
            });
            $('.select-single').select2({
                language: 'en'
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div>
        {% include "@Schola/public/partial/navigation.twig" %}
    </div>
    <div class="container-fluid">
        <div class="content-width">
            <div class="panel-content mt70">
                <div class="step-loader step-1 clearfix">
                    <div class="current-step">Step 1 of 3</div>
                    <div class="loader"></div>
                </div>
                <div class="basic-information-form">
                    <h2 class="title-large mb30i">{{ lang.please_input_basic|raw }}</h2>
                    <form id="frmStepOne" action="{{ route_url('Schola::teacherBasicInfoStep1Update') }}" method="post">
                        <div class="form-group custom">
                            <div class="control-item ">
                                <label for="teacher-firstname">{{ lang.first_name }}</label>
                                <div class="wrapper-control teacher-firstname-control">
                                    <div class="control">
                                        <input value="{{ teacherModel.teacher_firstname }}" type="text" name="teacher-firstname" id="teacher-firstname"></input>
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-item ">
                                <label for="teacher-lastname">{{ lang.last_name }}</label>
                                <div class="wrapper-control teacher-lastname-control">
                                    <div class="control">
                                        <input value="{{ teacherModel.teacher_lastname }}" type="text" name="teacher-lastname" id="teacher-lastname"></input>
                                        <div class="error"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-item ">
                                <label for="teacher-gender">{{ lang.gender }}</label>
                                <div class="wrapper-control teacher-gender-control">
                                    <div class="control">
                                        <select class="select-single" id="teacher-gender" name="teacher-gender">
                                            <option {{ teacherModel.teacher_gender == 0 ? 'selected' : '' }} value="0">{{ lang.female }}</option>
                                            <option {{ teacherModel.teacher_gender == 1 ? 'selected' : '' }} value="1">{{ lang.male }}</option>
                                        </select>
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-item">
                                <!--<label>Your location and Timezone, this will help in proper scheduling of classes</label>
                                </br>-->
                                <label for="country-id">{{ lang.nationality }}</label>
                                <div class="wrapper-control country-id-control">
                                    <div class="control">
                                        <select class="select-single" name="country-id" id="country-id">
                                            {% for item in listCountries %}
                                                <option {{ item.country_id == teacherModel.country_id ? 'selected' : '' }} value="{{ item.country_id }}">{{ item.country_name ~ ' - ' ~ item.country_code  }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-item">
                                <label for="citizen">{{ lang.current_city }}</label>
                                <div class="wrapper-control citizen-control">
                                    <div class="control">
                                        <input type="text" value="{{ teacherModel.citizen }}" name="citizen" id="citizen"/>
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-item">
                                <label for="timezone-id">{{ lang.timezone }}</label>
                                <div class="wrapper-control timezone-id-control">
                                    <div class="control">
                                        <select class="select-single" name="timezone-id" id="timezone-id">
                                            {% for item in listTimezones %}
                                                <option {{ item.timezone_id == teacherModel.timezone_id ? 'selected' : '' }} value="{{ item.timezone_id }}">{{ item.timezone_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-item">
                                <label for="teacher-phone">{{ lang.phone_number }}</label>
                                <div class="wrapper-control teacher-phone-control">
                                    <div class="control">
                                        <input value="{{ teacherModel.teacher_phone }}" type="text" name="teacher-phone" id="teacher-phone"/>
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-item">
                                <label for="teacher-email">{{ lang.email }}</label>
                                <div class="wrapper-control teacher-email-control">
                                    <div class="control">
                                        <input value="{{ teacherModel.teacher_email }}" type="text" name="teacher-email" id="teacher-email"/>
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb40">
                            <button id="backStep" class="button button--saqui button--round-l button--text-thick button--size-s button--grey ml0" type="button" data-text="{{ lang.back }}">
                                <span class="icon fa fa-arrow-left"></span> {{ lang.back }}
                            </button>
                            <button id="nextStep" class="button button--saqui button--inverted button--round-l button--text-thick button--size-s ml5" type="button" data-text="{{ lang.next }}">
                                <span class="icon fa fa-arrow-right"></span> {{ lang.next }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}