{% set lang = Schola.language('home') %}

<div class="footer">
    <div class="content-width">
        <div class="clearfix">
            <div class="social-icons">
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-envelope"></span></a>
            </div>
            <div class="nav-footer mt35">
                <ul>
                    <li><a href="#">{{ lang.about_us }}</a></li>
                    <li><a href="#">{{ lang.contact_us }}</a></li>
                    <li><a href="#">{{ lang.faq }}</a></li>
                    <li><a href="#">{{ lang.term }}</a></li>
                    <li><a href="#">{{ lang.privacy_policy }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        {{ lang.copyright|raw }}
    </div>
</div>