{% set user = Schola.user() %}
{% set lang = Schola.language('user') %}
{% set langProfile = Schola.language('userprofile') %}
{% set timezones = Schola.timezones %}
{% set locale = Schola.locale%}
<div class="clearfix">
    {% set classNoSubNav = '' %}
    {% if user.islogin %}
        {% set classNoSubNav = 'no-sub-nav' %}
    {% endif %}
    <nav class="navbar navbar-default navbar-custom bg-white {{ classNoSubNav }}">
        <div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            {% if(isTeacher) %}
                <a class="navbar-brand" href="{{ route_url('Schola::schola-teacher-dashboard') }}">
            {%else%}                
                <a class="navbar-brand" href="{{ route_url('Schola::studentDashboard') }}">
            {% endif %}
            <!-- <a class="navbar-brand" href="{{ route_url('Schola::schola-teacher-dashboard') }}"> -->
                <div class="logo">
                    <img class="logo-white" src="{{ Schola.helper('assetUrl', '/public/images/schola2.png') }}" height="62px"/>
                    <img class="logo-original" src="{{ Schola.helper('assetUrl', '/public/images/schola.png') }}" height="62px"/>
                </div>
            </a>

            {% if user.islogin %}
                <div class="wrap-login-info">
                    
                    {%if user.finish%}
                    <div class="dropdown-timezone">
                        <input type="hidden" id="tmpTimezoneUrl" value="{{ route_url('Schola::schola-timezone') }}"/>
                        <input type="hidden" value="{{user.currentTimeWithSecond}}" id="hiddenClockAndLock"/>
                        <span id="detectTimezoneMessage" class="hidden">{{langProfile.time_zone_detect_inform|raw}}</span>
                        <script>
                            basicClock.init();
                        </script>
                        <div class="dropdown dropdown-custom" id="selectTimezone">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="dropdown-label" id="clockAndLock">{{ user.currentTime }}</span>
                            </button>
                        </div>
                        <div class="dropdown-content">
                            <select id="selectTimezones">
                                {%for item in timezones.timezones%}
                                    <option data-timezone-id="{{item.timezone_id}}" {{ item.timezone_id == user.timezoneId ? 'selected' : '' }} value="{{item.timezone_id}}">{{item.timezone_display_name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    {%endif%}
                    <div class="lang-choose">
                        <div class="dropdown dropdown-custom dropdown-change-lang lang-{{locale.locale}}" id="changeLang">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="dropdown-label">vi</span>
                                <span class="arrow fa fa-caret-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/lang/vi"> <span class="icon-vi"></span> Tiếng Việt</a></li>
                                <li><a href="/lang/en"><span class="icon-en"></span>English</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-info">
                        <div class="avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar-img">
                                <img src="{{ user.avatar }}" alt="">
                            </div>
                            <span class="username">
                            {%if user.firstname != ''%}
                                {{user.firstname}}
                            {%else%}
                                {{ user.username }}
                            {%endif%}
                        </span>
                            <span class="arrow fa fa-caret-down"></span>
                        </div>
                        <ul class="dropdown-menu">
                            {%if user.finish%}
                                <li><a href="/profile">{{ lang.profile }}</a></li>
                            {%endif%}
                            {%if 'administrator' in user.role%}
                                <li><a href="/admin">{{ lang.admin_dashboard }}</a></li>
                            {%endif%}
                            {%if user.finish%}
                                <li role="separator" class="divider"></li>
                            {%endif%}
                            <li><a href="{{ route_url('Schola::logout') }}"> <span class="fa fa-sign-out"></span> {{ lang.logout }}</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse padding-0" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% include "@Schola/public/component/userinfo.twig" %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>