{% set lang = Schola.language('student') %}

{% extends "@Schola/public/layout/master.twig" %}

{% block title %}{{ lang.children }}{% endblock %}
{% block head %}
    <script src="{{ Schola.helper( 'assetUrl' , '/public/js/fillChildrenInformation.js' ) }}" type="text/javascript"></script>
    <script type="text/javascript">
        var URL = {
            updateInformation: '{{ route_url('Schola::updateChildrenInformation') }}',
            studentDashboard: '{{ route_url('Schola::studentDashboard') }}'
        }
        $(function () {
            fillChildrenInformationView.init(URL);
        });
    </script>
{% endblock %}
{% block content %}
    <div >
        {% include "@Schola/public/partial/navigation.twig" %}
    </div>
    <div class="children-info-page">
        <div class="overlay">
            <div class="children-info-form">
                <h4 class="title">{{ lang.children_information }}</h4>
                <form id="frmChildren" method="post">
                    <div>
                        <label for="profile_name">{{ lang.name }}</label>
                        <div class="control profile_name-control">
                            <input type="text" id="profile_name" name="profile_name"/>
                            <div class="error"></div>
                        </div>
                    </div>

                    <div>
                        <label for="profile_gender">{{ lang.gender }}</label>
                        <div class="control profile_gender-control">
                            <select id="gender" name="profile_gender" id="profile_gender">
                                <option value="">{{ lang.select }}</option>
                                <option value="2">{{ lang.boy }}</option>
                                <option value="1">{{ lang.girl }}</option>
                            </select>
                            <div class="error"></div>
                        </div>
                    </div>

                    <div>
                        <label>{{ lang.birthdate }}</label>
                        <div class="control profile_birthday-control">
                            <input type="text" id="profile_birthday" name="profile_birthday" class="birth-date"/>
                            <div class="group-input-date">
                                <div class="wrap-month">
                                    <select class="month" name="month" id="month">
                                        <option value="1">{{ lang.january }}</option>
                                        <option value="2">{{ lang.february }}</option>
                                        <option value="3">{{ lang.march }}</option>
                                        <option value="4">{{ lang.april }}</option>
                                        <option value="5">{{ lang.may }}</option>
                                        <option value="6">{{ lang.june }}</option>
                                        <option value="7">{{ lang.july }}</option>
                                        <option value="8">{{ lang.august }}</option>
                                        <option value="9">{{ lang.september }}</option>
                                        <option value="10">{{ lang.october }}</option>
                                        <option value="11">{{ lang.november }}</option>
                                        <option value="12">{{ lang.december }}</option>
                                    </select>
                                </div>
                                <div class="wrap-day">
                                    <select class="day" name="day" id="day">
                                        {% for i in 1..31 %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="wrap-year">
                                    <input type="text" placeholder="{{ lang.year }}" class="year" name="year" id="year" maxlength="4">
                                </div>
                            </div>
                            <div class="error"></div>
                        </div>
                    </div>

                    <div>
                        <label for="profile_level">{{ lang.level }}</label>
                        <div class="control profile_level-control">
                            <select id="profile_level" name="profile_level">
                                <option value="">{{ lang.level }}</option>
                                <option value="1">{{ lang.never_learned_english }}</option>
                                <option value="2">{{ lang.basic }}</option>
                                <option value="3">{{ lang.intermediate }}</option>
                                <option value="4">{{ lang.advanced }}</option>
                            </select>
                            <div class="error"></div>
                        </div>
                    </div>

                    <button type="button" id="btnUpdateInformation" class="button button--isi button--text-thick button--text-upper button--size-s">
                        <i class="icon-spin fa fa-spinner fa-spin"></i> {{ lang.next }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}