{% set lang = Schola.language('student') %}

<div class="left-panel-board fixed-panel mb20">
    <ul>
        <li><a href="{{ route_url('Schola::studentDashboard') }}" class="{% if navActive == 0 %}active{%endif%}"><i class="icon material-icons">local_library</i> {{ lang.study }}</a></li>
        <li><a href="{{ route_url('Schola::schola-student-schedule') }}" class="{% if navActive == 1 %}active{%endif%}"><i class="icon material-icons">date_range</i> {{ lang.schedule }}</a></li>
        <li>
            <a href="{{ route_url('Schola::schola-student-curriculum') }}" class="{% if navActive == 2 %}active{%endif%}"><i class="icon material-icons">school</i> {{ lang.curriculum }}</a>
        </li>
    </ul>
</div>