{% set lang = Schola.language('student') %}

<div id="dialogScheduleLesson" class="modal fade" role="dialog" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{ lang.schedule }}</h4>
			</div>
			<div class="modal-body">
				<form id="frmScheduleLesson" class="text-center">
					<div class="form-group custom inline-block">
						<div class="control-item">
							<label for="date_time">{{ lang.remaining_class }}</label>
							<div class="wrapper-control topic-control">
								<div class="control">
                                    {{ remain }}
								</div>
							</div>
						</div>
						<div class="control-item">
							<label for="date_time">{{ lang.time_date }}</label>
							<div class="wrapper-control topic-control">
								<div class="control">
                                    {{ timeSelected }}
								</div>
							</div>
						</div>
						<div class="control-item">
							<label for="topic">{{ lang.topic }}</label>
							<div class="wrapper-control topic-control">
								<div class="control">
									<select class="select-single" name="topic" id="topic">
										{%for unit in lessons%}
											<optgroup label="{{unit.unit_name}}">
												{%for lesson in unit.listLesson%}
													<option {%if lesson.lession_id == selected%} selected {%endif%} value="{{ lesson.lession_id }}">{{ lesson.lession_name }}</option>
												{%endfor%}
											</optgroup>
										{%endfor%}
									</select>
									<div class="error"></div>									
								</div>
							</div>
						</div>
						<div class="list-teacher">							
							<div class="carousel-teacher">
								{%set teacherSize = teachers|length%}
								<input id="tmpHiddenTeacherSize" type="hidden" value="{{teacherSize}}"/>
								{%for item in teachers%}
									<div class="teacher-item">
										<div class="img-box">
											<img class='teacherAvatar' data-teacher-id="{{item.teacher_id}}"
												 src="{{item.avatar}}"
												 data-teacher-id="{{item.teacher_id}}"
												 class="teacherAvatar gender-{{ item.teacher_gender }}" />
										</div>
										<div class="teacher-name">
											{{item.teacher_firstname}}
										</div>
										{%if teacherSize > 1%}
											<div class="check-teacher checkbox checkbox-warning">
												<input id="teacher-{{item.teacher_id}}-pop" class="bookTeacher" onchange="scheduleView.bookTeacher(this);" type="checkbox" data-teacher-id="{{item.teacher_id}}" />
												<label for="teacher-{{item.teacher_id}}-pop">
												</label>
											</div>
										{%endif%}
									</div>
								{%endfor%}
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="remainingClassMessage" style="background-color: #fbeeed;
						border-color: #f7d8dd;
						color: #d9534f;
						padding: 15px;
						margin-bottom: 20px;
						border: 1px solid transparent;
						border-radius: 4px; display:none">
				<i class="fa fa-meh-o"></i>
				{{lang.dont_have_more_remaining_class}}
			</div>
			<div class="pleaseChooseTeacherMessage" style="background-color: #fbeeed;
						border-color: #f7d8dd;
						color: #d9534f;
						padding: 15px;
						margin-bottom: 20px;
						border: 1px solid transparent;
						border-radius: 4px; display:none">
				<i class="fa fa-meh-o"></i>
				{{lang.no_selected_teacher}}
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" id="btnUpdateSchedule"
							class="button button--saqui button--inverted button--round-l button--text-thick button--size-s"
							data-text="{{ lang.confirm }}">{{ lang.confirm }}</button>
					<button type="button" data-dismiss="modal"
							class="button button--saqui button--grey button--round-l button--text-thick button--size-s"
							data-text="{{ lang.cancel }}">{{ lang.cancel }}</button>
				</div>
			</div>
		</div>
	</div>
</div>