{% set lang = Schola.language('student') %}
{%if teachers|length != 0%}
	<div class="mt20 mb10">
		{{ lang.filter_timing_by_teacher }}
	</div>
{%endif%}
<div class="carousel-teacher">
{%for item in teachers%}
	<div class="teacher-item">
		<div class="img-box">
            <img data-teacher-id="{{item.teacher_id}}"
                 src="{{item.avatar}}"
                 class="teacherAvatar gender-{{ item.teacher_gender }}" />
        </div>
        <span data-tooltip="{{ lang.add_teacher_to_favorites }}" data-teacher-id="{{item.teacher_id}}" class="favoriteAction {%if item.favorite%}favorite{%else%}not-favorite{%endif%}">
        </span>

		<div class="teacher-name">
			{{item.teacher_firstname}}
		</div>
        <div class="check-teacher checkbox checkbox-warning">
            <input id="teacher-{{item.teacher_id}}" onchange="scheduleView.selectTeacher(this);" type="checkbox" data-teacher-id="{{item.teacher_id}}" />
            <label for="teacher-{{item.teacher_id}}">{{ lang.select_teacher }}</label>
        </div>
	</div>
{%endfor%}
</div>