{% set lang = Schola.language('student') %}

<div class="schedule-tooltip-detail">
    <div>
        Teacher:{{ detail.teacher_firstname }}
    </div>
    <div>
        Lesson SN:{{ detail.lession_sn }}
    </div>
    <div>
        Lesson name:{{ detail.lession_name }}
    </div>
	<div class="text-danger">
		{%if detail.schedule_status == 2%}
			{{ lang.this_class_canceled }}
		{%endif%}
	</div>
	<div class="mt15 mb5">
		{%if false%}
			<!-- Do not remove this block, i will remove it later -->
			<button type="button" 
					onclick="{%if displayBtn%}scheduleView.gotoClassRoom(this);{%else%}return false;{%endif%}" 
					data-schedule-id="{{detail.schedule_id}}" class="btn btn-primary {%if not displayBtn%}disabled{%endif%}">{{ lang.go_to_classroom }}</button>
		{%endif%}
		<button type="button" 
					onclick="scheduleView.classDetail(this);" 
					data-schedule-id="{{detail.schedule_id}}" class="btn btn-primary">{{ lang.class_detail }}</button>
	</div>
	<div>
		<button type="button" 
				title="{%if not displayBtn%}Cannot cancel this class{%endif%}"
				onclick="{%if displayBtn%}scheduleView.removeScheduleLesson(this);{%else%}return false;{%endif%}"
				data-schedule-id="{{detail.schedule_id}}" 
				data-timestamp="{{timestamp}}"
				class="btn btn-default {%if not displayBtn%}disabled{%endif%}">{{ lang.cancel_class }}</button>
	</div>
</div>
