<div class="relative">
    <script>
        $(document).scroll(function() {
            Schola.scheduleGrid.fixedGridHeader();
        });
        $(document).bind('touchmove', function() {
            Schola.scheduleGrid.fixedGridHeader();
        });
    </script>
    <table class="schedule-grid fixed-header">
        <thead>
        <tr>
            {% for item in scheduleGrid.dayOfWeek %}
                <th class="text-center">
                    <div>{{ item.value }}</div>
                    <div>{{ item.date }}</div>
                </th>
            {% endfor %}
        </tr>
        </thead>
    </table>
    <table class="schedule-grid">
        <thead>
        <tr>
            {% for item in scheduleGrid.dayOfWeek %}
                <th class="text-center">
                    <div>{{ item.value }}</div>
                    <div>{{ item.date }}</div>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {%set offset = -1%}
        {% for time in scheduleGrid.times %}
            <tr>
                {% for item in scheduleGrid.dayOfWeek %}
                    {%set offset = offset + 1%}
                    {% set timeKey = item.key~'-'~time.key %}
                    {% set scheduled = timeKey in scheduleGrid.selectedTime %}
                    {% set available = scheduleGrid.baseTimes[offset] in scheduleGrid.teacherTimes %}
                    {% set validTime = ((item.timestamp + time.key) >= scheduleGrid.currentTimeStamp)%}

                    {% set classItem = '' %}
                    {% if scheduled %}
                        {% set classItem = classItem~'scheduled' %}
                    {% endif %}

                    {% if (validTime and (scheduled or available)) %}
                        {% set classItem = classItem~' active-time' %}
                    {% else %}
                        {% set classItem = classItem~' disable-time' %}
                    {% endif %}
                    <td class="schedule-time-item {{ classItem }} item{{ item.timestamp + time.key }}"
                        data-time="{{ timeKey }}"
                        data-basetime="{{scheduleGrid.baseTimes[offset]}}"
                        data-timestamp="{{ item.timestamp + time.key }}">
                        <div>
                            {{ time.value }}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
