{% set lang = Schola.language('classroom') %}

<!DOCTYPE html>
<html ng-app="demo" dir='ltr' mozdisallowselectionprint moznomarginboxes>
<head>
    <title>{{ lang.classroom }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="google" content="notranslate"/>

    <!-- WHITE BOARD -->
    <script src="{{ Schola.helper( 'assetUrl' , '/public/plugins/whiteboard/bower_components/jquery/dist/jquery.min.js') }}"
            type="text/javascript" charset="utf-8"></script>
    <script src="{{ Schola.helper( 'assetUrl' , '/public/js/whiteboard/whiteboard_action.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ Schola.helper( 'assetUrl' , '/public/plugins/whiteboard/bower_components/angular/angular.min.js') }}"
            type="text/javascript" charset="utf-8"></script>
    <script src="{{ Schola.helper( 'assetUrl' , '/public/plugins/whiteboard/bower_components/paper/dist/paper-core.min.js') }}"
            type="text/javascript" charset="utf-8"></script>
    <script src="https://static.opentok.com/v2.12/js/opentok.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ Schola.helper( 'assetUrl' , '/public/plugins/whiteboard/bower_components/opentok-angular/opentok-angular.js') }}"
            type="text/javascript" charset="utf-8"></script>
    <script src="{{ Schola.helper( 'assetUrl' , '/public/plugins/whiteboard/opentok-whiteboard.js') }}"
            type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ Schola.helper( 'assetUrl' , '/public/plugins/whiteboard/opentok-whiteboard.css') }}"
          type="text/css" media="screen" charset="utf-8">

    <!-- PDF -->
    <script src="{{ Schola.helper( 'assetUrl' , '/public/plugins/pdf/build/pdf.js' ) }}" type="text/javascript"
            charset="utf-8"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ Schola.helper( 'assetUrl' , '/public/plugins/pdf/web/viewer.css' ) }}" media="screen"/>

    <!-- FONTAWESOME -->
    <link rel="stylesheet" type="text/css"
          href="{{ Schola.helper( 'assetUrl' , '/public/plugins/font-awesome/css/font-awesome.css' ) }}"
          media="screen"/>

    <!-- QTIP2 -->
    <link rel="stylesheet" type="text/css"
          href="{{ Schola.helper( 'assetUrl' , '/public/plugins/qtip2/jquery.qtip.min.css' ) }}" media="screen"/>
    <script type="text/javascript"
            src="{{ Schola.helper( 'assetUrl' , '/public/plugins/qtip2/jquery.qtip.min.js' ) }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/css/animate.css' ) }}"
          media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/css/navicon.css' ) }}"
          media="screen"/>

    <link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/css/opensans.css' ) }}"
          media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/css/robotocondensed.css' ) }}"
          media="screen"/>

    <link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/css/buttons.css' ) }}"
          media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="{{ Schola.helper( 'assetUrl' , '/public/css/awesome-bootstrap-checkbox.css' ) }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/sass/style.css' ) }}"
          media="screen"/>
	
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/plugins/bootstrap-3.3.7/css/bootstrap.min.css' ) }}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{{ Schola.helper( 'assetUrl' , '/public/plugins/bootstrap-3.3.7/css/bootstrap-theme.min.css' ) }}" media="screen"/>
	<script type="text/javascript" src="{{ Schola.helper( 'assetUrl' , '/public/plugins/bootstrap-3.3.7/js/bootstrap.min.js' ) }}"></script>
</head>
<script>
	var isTeacher = '{{isTeacher}}';
    var apiKey = '{{ apiKey }}';
    var sessionId = '{{ sessionId }}';
    var token = '{{ token }}';
    var URL = {
        actionLink: '{{ route_url('Schola::pdf-viewer-action') }}',
        pdfUrl: 'http://localhost/db/a.pdf',
        workerSrc: '{{ Schola.helper( 'assetUrl' , '/public/plugins/pdf/build/pdf.worker.js' ) }}',
        fileUploadService: '{{ route_url('Schola::services-file-upload') }}'
    };
    whiteBoard.init(URL);

    $(function () {
        initTooltip();
        /*resizeBoard();
        $( window ).resize(function() {
            resizeBoard();
        });*/
        $('#viewerContainer').scroll(function() {
            var offsetTop = $('#viewer').offset().top;

            $('ot-whiteboard .panel-tool').css('top', (10-offsetTop) + 'px');
        });
    });
    function resizeBoard(){
        var width = $( window ).width() - 35;
        var height = width * 1.294117647058824;
        $('#viewer > .page').width(width).height(height);
    }
    function clearBoard() {
        $('.OT_button.OT_clear').click();
    }
    function initTooltip() {
        $('[data-tooltip!=""]').qtip({
            content: {
                attr: 'data-tooltip'
            },
            position: {
                my: 'top center',
                at: 'bottom center',
                adjust: {
                    method: 'flip'
                },
                viewport: $(window)
            },
            hide: {
                //event: false,
                fixed: true
            },
            style: {
                classes: 'qtip-tipsy'
            }
        });
    }
</script>
<div id="spinner" class="spinner show-on-top">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<body ng-controller="DemoCtrl" tabindex="1" class="loadingInProgress">
<div class="wrap-whiteboard">
    <div class="whiteboard-content-2">
        <div class="wrap-control">
			{%if isTeacher%}
				<span class="control open-file" onclick="whiteBoard.openDialogDocument();" data-tooltip="Open file">
					<span class="fa fa-folder-open"></span>
				</span>
			{%endif%}
            <input type="file" class="hidden" onchange="whiteBoard.uploadDocument(event)" id="openDocument" name="openDocument"/>
            <span class="control clear" id="clear" onclick="clearBoard();" data-tooltip="Clear board"><span class="fa fa-trash"></span></span>
            <span class="control prev" id="previous" data-tooltip="Previous page"><span class="fa fa-arrow-left"></span></span>
            <span class="control next" id="next" data-tooltip="Next page"><span class="fa fa-arrow-right"></span></span>

        </div>
        <div class="page-info">
            <input type="number" id="pageNumber" class="toolbarField pageNumber" value="1" size="4" min="1"
                   tabindex="15">
            / <span id="pdfMaxPage"></span>
        </div>
        <input id="cPageNumber" value="1" type="hidden"/>
        <input id="cPdfUrl" value="" type="hidden"/>
        <input type="button" style="display: none" id="tmpOnloadPdf"/>
        <div id="viewerContainer" tabindex="0">
            <div id="viewer" class="pdfViewer" style="height: 99%;">
                <div class="page">
                    <ot-whiteboard width="1280" height="720"></ot-whiteboard>
                    <div class="canvasWrapper">
                        <canvas style="height: 100%; width: 100%" id="the-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	<!-- Dialog -->
	<div style="max-height: 400px" id="dialogDocument" class="modal fade" role="dialog" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">					
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<select id="selectDocType" onchange="whiteBoard.changeBrowserType(this);" style="float:right; height: 25px;">
						<option value="7">Documents</option>
						<option value="3">My file</option>
					</select> 
					<h4 class="modal-title">{{ lang.document }}</h4>
				</div>
				<div class="myFileControl">
					<a style="margin-left:17px;" data-lock="false" class="fa fa-upload uploadBtn" href="javascript:whiteBoard.btnUploadAction();">&nbsp;{{ lang.upload_document }}</a>
					<div id="spinner" class="spinner loadingPdf" style="width: 100px; visibility: hidden">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
				</div>
				<input type="hidden" id="btnLock" value="false"></input>
				<div style="height: 300px; overflow-y: scroll" id="documentData" class="modal-body">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>