{% set lang = Schola.language('student') %}
{% block head %}
    
    <script type="text/javascript">
         var URL = {
            cancelClass:                '{{ route_url('Schola::studentCancelClass') }}',
            cancelClassConfirmDialog:   '{{ route_url('Schola::studentCancelClassConfirmDialog') }}',
            rateClass:                  '{{ route_url('Schola::studentRateClass') }}',
            rateClassConfirmDialog:     '{{ route_url('Schola::studentRateClassConfirmDialog') }}'
        };
        $(document).ready(function(){

                scheduleHandler.init(URL);
                $('.modal-star-rating').addModalRating({
                    max : 5,
                    half : true,
                    fieldName : 'rating',
                    fieldId : 'modalrating',
                    icon : 'star',
                    callback : scheduleHandler.modalrate
                }); });

    </script>
{% endblock %}
<div id="rateConfirmDialog" class="modal fade custom-dialog no-header" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="text-center color-orange bold mb20">
                    {{ lang.rate_class_confirm_message }} :
                </div>
                {#<div class="text-center color-blue mt20">{{ lang.class_topic }}</div>#}
                <div class="text-center font-size-18 mt20">{{ class.lession_name }}</div>
                <div class="text-center color-blue mt20">{{ lang.rate }}</div>
                <div class="text-center mt20">
                    <div class="rate-class mt20">
                        
                            <div id="star-rating-{{studentScheduleId}}" class="modal-star-rating" data-schedule-id="star-rating-{{studentScheduleId}}" style="font-size: 30px;
                                color: #F2C94C; "></div>
                    </div>
                </div>
                <div class="form-group custom">
                    <div class="text-center color-blue mt20">{{ lang.feedback|capitalize }}</div>
                    <div class="text-center mt20">
                        <div class="control-item">
                            <div class="control">
                                <textarea name="feedback-comment-{{ studentScheduleId }}" id="feedback-comment-{{ studentScheduleId }}" cols="50" rows="5" class="in-popup"></textarea>
                                <input type="hidden" id="modalScheduleId" name="scheduleId" value="{{studentScheduleId}}">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding: 10px;">
                <div class="text-center">
                    <button type="button" id="confirm-rate-class-btn" class="btn btn-primary-2">
                        {{lang.confirm}}
                    </button>
                    <button type="button" id="confirm-cancel-rate-class-btn" class="btn btn-primary-2 btn-no-bg" data-dismiss="modal">
                        {{lang.cancel}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>