{% set lang = Schola.language('student') %}

<div id="dialogScheduleLesson" class="modal fade custom-dialog no-header" role="dialog" data-backdrop="static"
     xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="icon material-icons">close</span></button>
            </div>
            <div class="modal-body">
                <form id="frmScheduleLesson">
                    <div class="text-center color-blue">{{ lang.class_timing }}</div>
                    <div class="text-center bold font-size-18 mt10"><span class="color-orange mr10">{{ timeSelected|date('H:i') }}</span> <span class="color-blue">{{ timeSelected|date('D - d/m/y') }}</span></div>
                    <div class="text-center color-blue mt20">{{ lang.class_topic }}</div>
                   
                    <div class="control-item mt10 text-center row">
                        <div class="wrapper-control topic-control col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                            <div class="control">
                                <select class="select-single  getNextLessonId" name="lesson_id" id="topic">
                                {% for unit,lesson in lessons %}
                                    <optgroup label="{{unit}}">
                                        {%for lessonresult in lesson%}
                                        <option value="{{ lessonresult.mapping_key }}" {%if startingLesson is not empty and startingLesson !=""%}
                                            {%if lessonresult.mapping_key == nextLesson%} selected {%endif%}
                                        {%endif%}>
                                            L{{lessonresult.lesson_level}}U{{lessonresult.lesson_unit}}LS{{lessonresult.lesson_lesson}} - {{ lessonresult.lesson_title }}
                                            {% if lessonresult.mapping_key in bookedlessons %}
                                                ({{ lang.booked }})
                                            {%endif%}
                                        </option>
                                        {%endfor%}
                                {%endfor%}

                                </select>
                                <div class="error"></div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center color-blue mt20">{{ lang.teacher|capitalize }}</div>
                    <div class="mt15">
                        <div class="clearfix teacher-filter-list list-center no-select carousel-teacher">
                            {%set teacherSize = teachers|length%}
                            <input id="tmpHiddenTeacherSize" type="hidden" value="{{teacherSize}}"/>
                            {%for item in teachers%}
                                <div class="teacher-item">
                                    <div class="avatar img-box teacherAvatar" data-teacher-id="{{item.teacher_id}}" style="background-image: url({{ item.avatar }})"></div>
                                    <div class="teacher-name">
                                        {{item.teacher_firstname}}
                                    </div>
                                    {%if teacherSize > 1%}
                                        <div class="check-teacher checkbox checkbox-warning" style="display: block;">
                                            <input id="teacher-{{item.teacher_id}}-pop" class="bookTeacher" onchange="scheduleView.bookTeacher(this);" type="checkbox" data-teacher-id="{{item.teacher_id}}" />
                                            <label for="teacher-{{item.teacher_id}}-pop">
                                            </label>
                                        </div>
                                    {%endif%}
                                </div>
                            {%endfor%}
                        </div>
                    </div>

                    <div class="text-center color-blue bold mt20">{{ lang.booking_balance }}: <span class="color-orange font-size-18">{{ remain }}</span></div>
                </form>
            </div>
            <div class="remainingClassMessage" style="background-color: #fbeeed;
						border-color: #f7d8dd;
						color: #d9534f;
						padding: 15px;
						margin-bottom: 20px;
						border: 1px solid transparent;
						border-radius: 4px; display:none">
                <i class="fa fa-meh-o"></i>
                {{lang.dont_have_more_remaining_class}}
            </div>
            <div class="pleaseChooseTeacherMessage" style="background-color: #fbeeed;
						border-color: #f7d8dd;
						color: #d9534f;
						padding: 15px;
						margin-bottom: 20px;
						border: 1px solid transparent;
						border-radius: 4px; display:none">
                <i class="fa fa-meh-o"></i>
                {{lang.no_selected_teacher}}
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary-2 btn-no-bg"
                        data-dismiss="modal">
                    {{ lang.cancel }}
                </button>

                <button id="btnUpdateSchedule"
                        type="button"
                        class="btn btn-primary-2">
                    {{ lang.confirm }}
                </button>
            </div>
        </div>
    </div>
</div>