{% set lang = Schola.language('teacher') %}
<div id="dialogTeacherProfile" class="modal fade custom-dialog no-header" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" onclick="$('.teacherVideo').remove();" data-dismiss="modal">&times;</button>
			</div>
			<div class="clearfix teacher-profile-dialog">
				<div class="clearfix">
					<div class="col-sm-3">
						<div class="wrapper-control">
							<div class="upload-avatar gender-{{ teacher.teacher_gender }}">
								<img id="srcAvatar" src="{{avatar}}" />													
							</div>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="form-group">
							<h3>
								<strong>{{ teacher.teacher_firstname}}</strong>
								<span class="rating">
									{%if fbNum < 10%}
										{%set start = 10%}
									{%endif%}
									{%set rate1 = start%2 %}
									{%set rate2 = (start - rate1)/2%}
									<span class="star">
										{%if rate2 != 0%}
											{%for i in 1..rate2%}
												<span class="fa fa-star"></span>
											{%endfor%}
										{%endif%}
										{%if rate1 == 1%}
											<span class="fa fa-star-half-o"></span>
										{%endif%}
									</span>
								</span>
							</h3>
							<h4><span class="fa fa-user"></span> {%if teacher.teacher_gender == 0%}{{lang.female}}{%else%}{{lang.male}}{%endif%}</h4>
							<div class="speciality clearfix">
                                {%for item in special%}
									<span class="label label-success">{{item.speciality_name}}</span>
                                {%endfor%}
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix pt20">
					<div class="col-xs-12">
						{%if videoId != ''%}
							<div class="clearfix">
                                <label>{{lang.video_introduction}}</label>
                                <div class="wrapper-control teacherVideo">
                                    <div class="control text-justify" style="max-width: 570px;">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe
                                                    class="embed-responsive-item"
                                                    src="https://www.youtube.com/embed/{{videoId}}"
                                                    gesture="media"
                                                    allow="encrypted-media"
                                                    allowfullscreen>
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
							</div>
						{%endif%}
						<div class="clearfix mt30">
                            <label>{{lang.work_experience}}</label>
                            <div class="wrapper-control">
                                <div class="control">
                                    <table class="table w100i table-work-experiences">
                                        <tr>
                                            <th>#</th>
                                            <th>{{lang.title}}</th>
                                            <th>{{lang.from}}</th>
                                            <th>{{lang.to}}</th>
                                        </tr>
                                        {%set count = 0%}
                                        {%for item in exp%}
                                            {%set count = count +1%}
                                            <tr>
                                                <td>{{count}}</td>
                                                <td>{{item.experience_title}}</td>
                                                <td>{{item.experience_from | date("d/n/Y")}}</td>
                                                <td>{{item.experience_to | date("d/n/Y")}}</td>
                                            </tr>
                                        {%endfor%}
                                    </table>
                                </div>
                            </div>
						</div>						
						<div class="clearfix mt20">
                            <label>{{lang.education_background}}</label>
                            <div class="wrapper-control">
                                <div class="control">
                                    <table class="table w100i table-education">
                                        <tr>
                                            <th>#</th>
                                            <th>{{lang.school}}</th>
                                            <th>{{lang.from}}</th>
                                            <th>{{lang.to}}</th>
                                            <th>{{lang.major}}</th>
                                            <th>{{lang.level}}</th>
                                        </tr>
                                        {%set count = 0%}
                                        {%for item in edu%}
                                            {%set count = count +1%}
                                            <tr>
                                                <td>{{count}}</td>
                                                <td>{{item.education_school}}</td>
                                                <td>{{item.education_from | date("d/n/Y")}}</td>
                                                <td>{{item.education_to | date("d/n/Y")}}</td>
                                                <td>{{item.education_major}}</td>
                                                <td>
                                                    {% if item.education_level == 1%}
                                                        {{ lang.master }}
                                                    {% elseif item.education_level == 2 %}
                                                        {{ lang.bachelor }}
                                                    {% elseif item.education_level == 3 %}
                                                        {{ lang.other }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {%endfor%}
                                    </table>
                                </div>
                            </div>
						</div>
                        <div class="clearfix mt20">
                            <label>{{lang.description}}</label>
                            <div class="wrapper-control">
                                <div class="control text-justify">
                                    {{teacher.teacher_description}}
                                </div>
                            </div>
                        </div>
					</div>

				</div>.
			</div>
		</div>
	</div>
</div>