<div class="teachers">
    <div class="footer footer_custom">
        <div class="wrapper">
            <div class="footer-content">
                <!-- <a href="#" class="mobile-contact" data-pop="4">{{ lang.contact_us }}</a> -->
                <div class="footer-logo">
                    <a href="{{ route_url('Schola::home') }}">
                        <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/footer-logo.png') }}" alt="" data-rjs="2">
                    </a>
                </div>
                <nav class="footer-nav">
                    <a href="{{ route_url( 'Schola::blog' ) }}">{{ lang.blogs }}</a>
                    <a href="{{ route_url( 'Schola::contact_us' ) }}">{{ lang.contact_us }}</a>
                    <a href="{{ route_url( 'Schola::about_us' ) }}">{{ lang.about_us }}</a>
                    <a href="#">{{ lang.policy }}</a>
                    <a href="#">Copyright © 2018 Schola</a>
                </nav>
                <div class="footer-socials">
                    <a href="https://www.facebook.com/scholakids/" target="_blank">
                        <i class="icon-fb"></i>
                    </a>
                    <a href="#">
                        <i class="icon-insta"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="mobile-footer">
            <a class="mobile-footer-trial" href="#" data-pop="2">{{ lang.get_free_trial }}</a>
            <a class="mobile-footer-login" href="#" data-pop="1">{{ lang.login }}</a>
        </div>
    </div>

    <div class="avs-popup trial-popup popup-close" data-pop-open="2">
        <div class="avs-popup-content-wrapper">
            <div class="avs-pop-inner">
                <div class="avs-popup-content">
                    <div class="popup-row">
                        <div class="popup-img-col">
                            <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/eleph.png') }}" alt="" data-rjs="2">
                            <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/footer-logo.png') }}" alt="" data-rjs="2" class="popup-logo">
                        </div>
                        <div class="popup-content-col">
                            <h5 class="popup-title">Get Your
                                <span>Free Trial</span>
                            </h5>
                            <a href="#" class="btnLoginFacebook popup-link-facebook">{{ lang.login_with_facebook }}</a>
                            <span class="popup-tip">{{ lang.recommended }}</span>
                            <a href="#" class="btnLoginAccountKit popup-link-phone">{{ lang.phone_number_login }}</a>
                            <div class="popup-message">
                                <span class="popup-message-title">{{ lang.need_help }}</span>
                                <div class="tab-contacts">
                                    <a href="https://www.facebook.com/scholakids/" class="tab-contact-fb" target="_blank"></a>
                                    <a href="https://m.me/scholakids" class="tab-contact-messenger"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="avs-popup-close popup-close"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="avs-popup login-popup popup-close" data-pop-open="1">
        <div class="avs-popup-content-wrapper">
            <div class="avs-pop-inner">
                <div class="avs-popup-content">
                    <div class="popup-row">
                        <div class="popup-img-col">
                            <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/eleph.png') }}" alt="" data-rjs="2">
                            <img src="{{ Schola.helper('assetUrl', '/public/images/landing-page/footer-logo.png') }}" alt="" data-rjs="2" class="popup-logo">
                        </div>
                        <div class="popup-content-col">
                            <h5 class="popup-title">{{ lang.login_schola|raw }}</h5>
                            <a href="#" class="btnLoginFacebook popup-link-facebook">{{ lang.login_with_facebook }}</a>
                            <span class="popup-tip">{{ lang.recommended }}</span>
                            <a href="#" class="btnLoginAccountKit popup-link-phone">{{ lang.phone_number_login }}</a>
                            <div class="popup-message">
                                <span class="popup-message-title">{{ lang.need_help }}</span>
                                <div class="tab-contacts">
                                    <a href="https://www.facebook.com/scholakids/" class="tab-contact-fb" target="_blank"></a>
                                    <a href="https://m.me/scholakids" class="tab-contact-messenger"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="avs-popup-close popup-close"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="avs-popup iframe-popup  popup-close" data-pop-open="3">
        <div class="avs-popup-content-wrapper">
            <div class="avs-pop-inner">
                <div class="avs-popup-content">
                    <div class="iframe-wrapper">
                        <iframe id="YourIFrameID" width="560" height="315" src="https://www.youtube.com/embed/r3Z4sUtgrFY" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                    </div>

                    <span class="avs-popup-close popup-close youtube-video-popup"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="avs-popup contact-popup  popup-close" data-pop-open="4">
        <div class="avs-popup-content-wrapper">
            <div class="avs-pop-inner">
                <div class="avs-popup-content">
                    <span class="contact-popup-title">{{ lang.contact_us_via_chat }}</span>
                    <div class="contact-popup-content">
                        <div class="tab-feature">
                            <span class="tab-feature-number">1</span>
                            <h4 class="tab-feature-title">{{ lang.contact_us_online }}</h4>
                            <div class="tab-contacts">
                                <a href="https://www.facebook.com/scholakids/" class="tab-contact-fb"></a>
                                <a href="https://m.me/scholakids" class="tab-contact-messenger"></a>
                            </div>
                        </div>
                        <div class="tab-feature address-feature">
                            <span class="tab-feature-number">2</span>
                            <h4 class="tab-feature-title">{{ lang.our_office }}</h4>
                            <span class="tab-address-title">Singapore</span>
                            <span class="tab-address">#05-20 , 71 Ayer Rajah Cresent, Singapore 139951</span>
                            <span class="tab-address-title">Vietnam</span>
                            <span class="tab-address">108/69C Trần Quang Diệu, Quận 3, TP. HCM</span>
                        </div>
                    </div>

                    <span class="avs-popup-close popup-close"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "@Schola/public/layout/facebookPixel.twig" %}
{% include "@Schola/public/layout/scriptLiveChat.twig" %}
<div class="hidden">{{ state | raw}}</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/2.1.3/retina.min.js" defer="defer"></script>
<script src="https://sdk.accountkit.com/en_US/sdk.js" defer="defer"></script>
<script src="{{ Schola.helper('assetUrl', '/public/js/landing-page.js') }}" defer="defer"></script>
<script src="{{ Schola.helper( 'assetUrl' , '/public/js/landingPage/landingPage.js' ) }}" type="text/javascript" defer="defer"></script>
<script src="{{ Schola.helper( 'assetUrl' , '/public/js/loginViaAccountKit.js' ) }}" type="text/javascript" defer="defer"></script>
<script type="text/javascript">
    var next = '{{ next }}';
    if(next !== ''){
        $('.login-popup').css({"display":"block"})
    }
    var URL = {
        register: '{{ route_url('Schola::registerTrialClass') }}',
        registerForm: '{{ route_url('Schola::registerTrialClassForm') }}',
        loginFb: '{{ route_url('Schola::login-facebook') }}',
        loginViaAccountKit: '{{ route_url('Schola::loginViaAccountKit') }}',
        childrenFillInformation: '{{ route_url('Schola::schola-children') }}',
    };
    var MESSAGE = {
        registerTrialSuccess: '{{ lang.register_trial_success }}',
        registerTrialError: '{{ lang.register_trial_error }}',
        loginFail: '{{ lang.login_fail_please_try_again }}'
    };
    var accountKitInfo = {
        fbAppId: '{{ fb_app_id }}',
        accountKitVersion: '{{ account_kit_version }}',
        accountKitNonceField: '{{ account_kit_nonce_field }}'
    }
    $(function() {
        accountKitLogin.URL = URL;
        accountKitLogin.accountKitInfo = accountKitInfo;
        accountKitLogin.messages = MESSAGE;
        accountKitLogin.init();
        landingPageView.setUrl(URL);
        landingPageView.setMessage(MESSAGE);
        landingPageView.init();
    });
    $(".youtube-video-popup").click(function(){
      $("#YourIFrameID").attr("src", $("#YourIFrameID").attr("src"));
  });
</script>