{% set lang = Schola.language('file') %}
<div id="dialogViewPdf" class="modal fade" role="dialog" data-backdrop="static">
	<div class="modal-dialog" style="width: 80%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{ fileName }}</h4>
			</div>
			<div class="modal-body pdfViewerPanel" style="width: 100%">
				{%if supported == true%}
					<iframe 
						src="{{ route_url('Schola::pdf-display') }}?fileId={{fileId}}&token={{sessionToken}}" 
						width="100%" 
						height="100%" style="border: 0px;">
					</iframe>
				{%else%}
					<div style="font-size: x-large;
								background-color: #fbeeed;
								border-color: #f7d8dd;
								color: #d9534f;
								padding: 15px;
								margin-bottom: 20px;
								border: 1px solid transparent;
								border-radius: 4px;">
						<i class="fa fa-meh-o"></i>
						{{lang.file_not_found}}
					</div>
				{%endif%}
			</div>
		</div>
	</div>
</div>