{% set user = Schola.user() %}
{% set lang = Schola.language('user') %}
{% set timezones = Schola.timezones %}
{% if user.islogin %}
    <input type="hidden" id="hiddenIsUserLogin" value="{{user.islogin ? '1':'0'}}"/>
{% else %}
    <li>
        <a href="#" >{{ lang.study_program }}</a>
    </li>
    <li>
        <a href="#" >{{ lang.teacher_method }}</a>
    </li>
    <li>
        <a href="#" >{{ lang.teachers }}</a>
    </li>
    <li>
        <span>
            <a href="{{ route_url('Schola::login') }}?teacher=1" class="button button--ujarak button--border-thick button--text-upper button--size-s button--inverted button--text-thick btn-white">{{ lang.up_login }}</a>
        </span>
    </li>
    <li>
        <span>
            <a href="{{ route_url('Schola::signup') }}?teacher=1" class="button button--ujarak button--border-thick button--text-upper button--size-s button--inverted button--text-thick btn-white">{{ lang.up_signup }}</a>
        </span>
    </li>
{% endif %}